<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<title>登录-ldbz-shop</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="${request.contextPath}/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="${request.contextPath}/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="${request.contextPath}/stylesheets/responsive.css">
	<link rel="shortcut icon" href="${request.contextPath}/favicon.ico" />
</head>
<body class="header_sticky">
	<div class="boxed">

		<div class="overlay"></div>

		<!-- Preloader -->
		<div class="preloader">
			<div class="clear-loading loading-effect-2">
				<span></span>
			</div>
		</div><!-- /.preloader -->

		<!-- 页头 -->
		<%include("/inc_header.html"){}%>

		<section class="flat-breadcrumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumbs">
							<li class="trail-item">
								<a href="#" title="">Home</a>
								<span><img src="images/icons/arrow-right.png" alt=""></span>
							</li>
							<li class="trail-item">
								<a href="#" title="">Shop</a>
								<span><img src="images/icons/arrow-right.png" alt=""></span>
							</li>
							<li class="trail-end">
								<a href="#" title="">Smartphones</a>
							</li>
						</ul><!-- /.breacrumbs -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-breadcrumb -->

		<section class="flat-account background">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="form-login">
							<div class="title">
								<h3>Login</h3>
							</div>
							<form action="#" method="get" id="form-login" accept-charset="utf-8">
								<div class="form-box">
									<label for="name-login">Username or email address * </label>
									<input type="text" id="name-login" name="name-login" placeholder="Ali">
								</div><!-- /.form-box -->
								<div class="form-box">
									<label for="password-login">Password * </label>
									<input type="text" id="password-login" name="password-login" placeholder="******">
								</div><!-- /.form-box -->
								<div class="form-box checkbox">
									<input type="checkbox" id="remember" checked name="remember">
									<label for="remember">Remember me</label>
								</div><!-- /.form-box -->
								<div class="form-box">
									<button type="submit" class="login">Login</button>
									<a href="#" title="">Lost your password?</a>
								</div><!-- /.form-box -->
							</form><!-- /#form-login -->
						</div><!-- /.form-login -->
					</div><!-- /.col-md-6 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-account -->

		<!-- 网站信息 -->
		<%include("/inc_footer.html"){}%>
		
		<!-- copyright -->
		<%include("/inc_copyright.html"){}%>

	</div><!-- /.boxed -->

		<!-- Javascript -->
		<script type="text/javascript" src="${request.contextPath}/javascript/jquery.min.js"></script>
		<script type="text/javascript" src="${request.contextPath}/javascript/tether.min.js"></script>
		<script type="text/javascript" src="${request.contextPath}/javascript/bootstrap.min.js"></script>
		<script type="text/javascript" src="${request.contextPath}/javascript/waypoints.min.js"></script>

		<script type="text/javascript" src="${request.contextPath}/javascript/main.js"></script>

</body>	
</html>