<section class="flat-row flat-slider">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="slider owl-carousel">
					<ldbz:index_slide_tag ;ad>
					<div class="slider-item style2">
						<a href="${ad.href}" target="_blank"><img src="${request.contextPath}/portal/images/squares.svg" data-src="${nginxImage}${ad.src}" alt="${ad.alt}" /></a>
					</div>
					</ldbz:index_slide_tag>
				</div><!-- /.slider -->
			</div><!-- /.col-md-12 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.flat-slider -->