<div class="popup-newsletter">
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
			</div>
			<div class="col-sm-8">
				<div class="popup">
					<span></span>
					<div class="popup-text">
						<h2>分布式商城学习共勉!</h2>
						<p class="subscribe">
						使用Spring Boot 构建整个项目 去除 XML 配置。<br>
						Maven构建项目。<br>
						采用Dubbo作为RPC框架。<br>
						使用 Apollo 配置中心。<br>
						使用Spring+Spring MVC+MyBatisSSM框架。<br>
						数据库连接池使用druid。<br>
						页面引擎采用 Beetl。<br>
						采用SolrCloud实现搜索服务。<br>
						Swagger2 生成 RESTful Apis文档。<br>
						如果对你有所帮助请扫右图二维码，感谢支持。
						</p>
					</div><!-- /.popup-text -->
					<div class="popup-image">
						<img src="${request.contextPath}/images/icons/weixin.png" alt="">
					</div><!-- /.popup-text -->
				</div><!-- /.popup -->
			</div><!-- /.col-sm-8 -->
			<div class="col-sm-2">
			</div>
		</div><!-- /.row -->
	</div><!-- /.container -->
</div>