<section class="flat-row flat-banner-box">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="banner-box one-half">
					<div class="inner-box">
						<%
						for(recommend in indexRecommends){
							if(recommend.adKey == 'AD_RECOMMEND_1'){
						%>
						<a href="${recommend.href}" title="">
							<img src="${nginxImage}${recommend.src}" alt="${recommend.alt}" >
						</a>
						<%
						}
							}
						%>
					</div><!-- /.inner-box -->
					<div class="inner-box">
						<%
						for(recommend in indexRecommends){
							if(recommend.adKey == 'AD_RECOMMEND_2'){
						%>
						<a href="${recommend.href}" title="">
							<img src="${nginxImage}${recommend.src}" alt="${recommend.alt}" >
						</a>
						<%
						}
							}
						%>
					</div><!-- /.inner-box -->
					<div class="clearfix"></div>
				</div><!-- /.box -->
				<div class="banner-box">
					<div class="inner-box">
						<%
						for(recommend in indexRecommends){
							if(recommend.adKey == 'AD_RECOMMEND_3'){
						%>
						<a href="${recommend.href}" title="">
							<img src="${nginxImage}${recommend.src}" alt="${recommend.alt}" >
						</a>
						<%
						}
							}
						%>
					</div>
				</div><!-- /.box -->
			</div><!-- /.col-md-8 -->
			<div class="col-md-4">
				<div class="banner-box">
					<div class="inner-box">
						<%
						for(recommend in indexRecommends){
							if(recommend.adKey == 'AD_RECOMMEND_4'){
						%>
						<a href="${recommend.href}" title="">
							<img src="${nginxImage}${recommend.src}" alt="${recommend.alt}" >
						</a>
						<%
						}
							}
						%>
					</div><!-- /.inner-box -->
				</div><!-- /.box -->
			</div><!-- /.col-md-4 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.flat-banner-box -->