<section id="header" class="header">
			<div class="header-top">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<ul class="flat-support">
								<li>
									<a href="#" title="">老刀把子欢迎你！</a>
								</li>
								<li>
									<a href="#" title="">免费注册</a>
								</li>
								<li>
									<a href="#" title="">会员登录</a>
								</li>
							</ul><!-- /.flat-support -->
						</div><!-- /.col-md-4 -->
						<div class="col-md-4">
							<ul class="flat-infomation">
								<li class="phone">
									联系客服: <a href="#" title="">(888) 1234 56789</a>
								</li>
							</ul><!-- /.flat-infomation -->
						</div><!-- /.col-md-4 -->
						<div class="col-md-4">
							<ul class="flat-unstyled">
								<li class="account">
									<a href="#" title="">我的淘宝<i class="fa fa-angle-down" aria-hidden="true"></i></a>
									<ul class="unstyled">
										<li>
											<a href="#" title="">登录</a>
										</li>
										<li>
											<a href="shop-cart.html" title="">购物车</a>
										</li>
										<li>
											<a href="my-account.html" title="">个人信息</a>
										</li>
										<li>
											<a href="my-account.html" title="">我的订单</a>
										</li>
									</ul><!-- /.unstyled -->
								</li>
								<li>
									<a href="#" title="">简体中文<i class="fa fa-angle-down" aria-hidden="true"></i></a>
									<ul class="unstyled">
										<li>
											<a href="#" title="">English</a>
										</li>
										<li>
											<a href="#" title="">简体中文</a>
										</li>
									</ul><!-- /.unstyled -->
								</li>
							</ul><!-- /.flat-unstyled -->
						</div><!-- /.col-md-4 -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div><!-- /.header-top -->
			<div class="header-middle">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<div id="logo" class="logo">
								<a href="index" style="font-size:36px;font-family: STHeiti;color: #e08101;"> 老刀把子商城 </a>
							</div><!-- /#logo -->
						</div><!-- /.col-md-3 -->
						<div class="col-md-6">
							<div class="top-search">
								<form action="#" method="get" class="form-search" accept-charset="utf-8">
									<div class="cat-wrap">
										<select name="category">
											<option hidden value="">全品类</option>
											<option hidden value="">Cameras</option>
										</select>
										<span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
										<div class="all-categories">
											<div class="cat-list-search">
												<!-- 1级菜单 -->
												<% for(category in categorys){
													if(category.categoryLevel=='1'){ %>
												<div class="title">${category.categoryName}</div>
												<!-- <ul><li>Components</li></ul> -->
												<% }
												}%>
											</div><!-- /.cat-list-search -->
										</div><!-- /.all-categories -->
									</div><!-- /.cat-wrap -->
									<div class="box-search">
										<input type="text" name="search" placeholder="输入关键字检索商品">
										<span class="btn-search">
											<button type="submit" class="waves-effect"><img src="images/icons/search.png" alt=""></button>
										</span>
									</div><!-- /.box-search -->
								</form><!-- /.form-search -->
							</div><!-- /.top-search -->
						</div><!-- /.col-md-6 -->
						<div class="col-md-3">
							<div class="box-cart">
								<div class="inner-box">
									<ul class="menu-compare-wishlist">
										<li class="compare">
											<a href="#" title="">
												<img src="images/icons/compare.png" alt="">
											</a>
										</li>
										<li class="wishlist">
											<a href="wishlist.html" title="">
												<img src="images/icons/wishlist.png" alt="">
											</a>
										</li>
									</ul><!-- /.menu-compare-wishlist -->
								</div><!-- /.inner-box -->
								<div class="inner-box">
									<a href="#" title="">
										<div class="icon-cart">
											<img src="images/icons/cart.png" alt="">
											<span>4</span>
										</div>
									</a>
									<div class="dropdown-box">
										<ul>
										
										
											<li>
												<div class="img-product">
													<img src="images/product/other/img-cart-1.jpg" alt="">
												</div>
												<div class="info-product">
													<div class="name">
														Samsung - Galaxy S6 4G LTE <br />with 32GB Memory Cell Phone
													</div>
													<div class="price">
														<span>1 x</span>
														<span>$250.00</span>
													</div>
												</div>
												<div class="clearfix"></div>
												<span class="delete">x</span>
											</li>
											
											
										</ul>
										<div class="total">
											<span>总价:</span>
											<span class="price">$1,999.00</span>
										</div>
										<div class="btn-cart">
											<a href="shop-cart.html" class="view-cart" title="">查看</a>
											<a href="shop-checkout.html" class="check-out" title="">结算</a>
										</div>
									</div>
								</div><!-- /.inner-box -->
							</div><!-- /.box-cart -->
						</div><!-- /.col-md-3 -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div><!-- /.header-middle -->
			<div class="header-bottom">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-2">
							<div id="mega-menu">
								<div class="btn-mega"><span></span>商品分类</div>
								<ul class="menu">
								<!-- 1级菜单 -->
								<% for(category in categorys){
									if(category.categoryLevel=='1'){ %>
									<li>
										<a href="#" title="" class="dropdown">
											<span class="menu-img">
												<img src="images/icons/menu/01.png" alt="">
											</span>
											<span class="menu-title">${category.categoryName}</span>
										</a>
										<div class="drop-menu">
											<!-- 2级菜单 -->
											<% for(category2 in categorys){
												if(category2.categoryLevel=='2' && category2.fid==category.id){ %>
											<div class="one-third">
												<div class="cat-title">${category2.categoryName}</div>
												<ul>
													<!-- 3级菜单 -->
													<% for(category3 in categorys){
														if(category3.categoryLevel=='3' && category3.fid==category2.id){ %>
														<li><a href="#" title="">${category3.categoryName}</a></li>
													<% }
													}%>
												</ul>
												<!-- <div class="show">
													<a href="#" title="">更多</a>
												</div> -->
											</div>
											<% }
											}%>
										</div>
									</li>
									<% }
									}%>
								</ul>
							</div>
						</div><!-- /.col-md-3 -->
						<div class="col-md-9 col-10">
							<div class="nav-wrap">
								<div id="mainnav" class="mainnav">
									<ul class="menu">
										<!-- 1级菜单 -->
										<% for(category in categorys){
											if(category.categoryLevel=='1'){ %>
										<li class="has-mega-menu">
											<a href="#" title="">${category.categoryName}</a>
											<div class="submenu">
												<div class="row">
														<!-- 2级菜单 -->
														<% for(category2 in categorys){
															if(category2.categoryLevel=='2' && category2.fid==category.id){ %>
															<div class="col-lg-3 col-md-12">
																<h3 class="cat-title">${category2.categoryName}</h3>
																<ul class="submenu-child">
																	<!-- 3级菜单 -->
																	<% for(category3 in categorys){
																		if(category3.categoryLevel=='3' && category3.fid==category2.id){ %>
																		<li><a href="#" title="">${category3.categoryName}</a></li>
																	<% }
																	}%>
																</ul>
																<!-- <div class="show">
																	<a href="#" title="">更多</a>
																</div> -->
															</div>
														<% }
														}%>
												</div>
											</div>
										</li>
										<% }
										}%>
										
									</ul><!-- /.menu -->
								</div><!-- /.mainnav -->
							</div><!-- /.nav-wrap -->
							<div class="btn-menu">
	                            <span></span>
	                        </div><!-- //mobile menu button -->
						</div><!-- /.col-md-9 -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div><!-- /.header-bottom -->
		</section><!-- /#header -->