<section class="flat-row flat-slider">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="slider owl-carousel">
				
					<% for(indexSlide in indexSlides){%>
					<div class="slider-item style2">
						<a href="${indexSlide.href}" target="_blank"><img src="${nginxImage}${indexSlide.src}" alt="${indexSlide.alt}" /></a>
					</div>
					<% }%>
					
				</div><!-- /.slider -->
			</div><!-- /.col-md-12 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.flat-slider -->