<section class="flat-row flat-banner-box">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="banner-box one-half">
					<div class="inner-box">
						<a href="#" title="">
							<img src="images/banner_boxes/home-01.jpg" alt="">
						</a>
					</div><!-- /.inner-box -->
					<div class="inner-box">
						<a href="#" title="">
							<img src="images/banner_boxes/home-05.jpg" alt="">
						</a>
					</div><!-- /.inner-box -->
					<div class="clearfix"></div>
				</div><!-- /.box -->
				<div class="banner-box">
					<div class="inner-box">
						<a href="#" title="">
							<img src="images/banner_boxes/home-04.jpg" alt="">
						</a>
					</div>
				</div><!-- /.box -->
			</div><!-- /.col-md-8 -->
			<div class="col-md-4">
				<div class="banner-box">
					<div class="inner-box">
						<a href="#" title="">
							<img src="images/banner_boxes/home-03.jpg" alt="">
						</a>
					</div><!-- /.inner-box -->
				</div><!-- /.box -->
			</div><!-- /.col-md-4 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.flat-banner-box -->