<section class="flat-highlights">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="flat-row-title">
					<h3>Bestsellers</h3>
				</div>
				<ul class="product-list style1">
					<li>
						<div class="img-product">
							<a href="#" title="">
								<img src="images/product/highlights/10.jpg" alt="">
							</a>
						</div>
						<div class="info-product">
							<div class="name">
								<a href="#" title="">Razer RZ02-01071500-R3M1</a>
							</div>
							<div class="queue">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="price">
								<span class="sale">$50.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div>
						<div class="clearfix"></div>
					</li>
					<li>
						<div class="img-product">
							<a href="#" title="">
								<img src="images/product/highlights/9.jpg" alt="">
							</a>
						</div>
						<div class="info-product">
							<div class="name">
								<a href="#" title="">Apple iPad Mini G2356</a>
							</div>
							<div class="queue">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="price">
								<span class="sale">$24.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div>
						<div class="clearfix"></div>
					</li>
					<li>
						<div class="img-product">
							<a href="#" title="">
								<img src="images/product/highlights/8.jpg" alt="">
							</a>
						</div>
						<div class="info-product">
							<div class="name">
								<a href="#" title="">Beats Pill + Portable Speaker</a>
							</div>
							<div class="queue">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="price">
								<span class="sale">$90.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div>
						<div class="clearfix"></div>
					</li>
				</ul><!-- /.product-list style1 -->
			</div><!-- /.col-md-4 -->
			<div class="col-md-4">
				<div class="flat-row-title">
					<h3>Featured</h3>
				</div>
				<ul class="product-list style1">
					<li>
						<div class="img-product">
							<a href="#" title="">
								<img src="images/product/highlights/3.jpg" alt="">
							</a>
						</div>
						<div class="info-product">
							<div class="name">
								<a href="#" title="">Razer RZ02-01071500-R3M1</a>
							</div>
							<div class="queue">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="price">
								<span class="sale">$50.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div>
						<div class="clearfix"></div>
					</li>
					<li>
						<div class="img-product">
							<a href="#" title="">
								<img src="images/product/highlights/2.jpg" alt="">
							</a>
						</div>
						<div class="info-product">
							<div class="name">
								<a href="#" title="">Apple iPad Mini G2356</a>
							</div>
							<div class="queue">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="price">
								<span class="sale">$24.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div>
						<div class="clearfix"></div>
					</li>
					<li>
						<div class="img-product">
							<a href="#" title="">
								<img src="images/product/highlights/1.jpg" alt="">
							</a>
						</div>
						<div class="info-product">
							<div class="name">
								<a href="#" title="">Beats Pill + Portable Speaker</a>
							</div>
							<div class="queue">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="price">
								<span class="sale">$90.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div>
						<div class="clearfix"></div>
					</li>
				</ul>
			</div><!-- /.col-md-4 -->
			<div class="col-md-4">
				<div class="flat-row-title">
					<h3>Hot Sale</h3>
				</div>
				<ul class="product-list style1">
					<li>
						<div class="img-product">
							<a href="#" title="">
								<img src="images/product/highlights/19.jpg" alt="">
							</a>
						</div>
						<div class="info-product">
							<div class="name">
								<a href="#" title="">Razer RZ02-01071500-R3M1</a>
							</div>
							<div class="queue">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="price">
								<span class="sale">$50.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div>
						<div class="clearfix"></div>
					</li>
					<li>
						<div class="img-product">
							<a href="#" title="">
								<img src="images/product/highlights/11.jpg" alt="">
							</a>
						</div>
						<div class="info-product">
							<div class="name">
								<a href="#" title="">Apple iPad Mini G2356</a>
							</div>
							<div class="queue">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="price">
								<span class="sale">$24.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div>
						<div class="clearfix"></div>
					</li>
					<li>
						<div class="img-product">
							<a href="#" title="">
								<img src="images/product/highlights/20.jpg" alt="">
							</a>
						</div>
						<div class="info-product">
							<div class="name">
								<a href="#" title="">Beats Pill + Portable Speaker</a>
							</div>
							<div class="queue">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="price">
								<span class="sale">$90.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div>
						<div class="clearfix"></div>
					</li>
				</ul>
			</div><!-- /.col-md-4 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.flat-highlights -->