<section class="flat-iconbox">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="iconbox">
					<div class="box-header">
						<div class="image">
							<img src="${request.contextPath}/portal/images/icons/car.png" alt="">
						</div>
						<div class="box-title">
							<h3>Worldwide Shipping</h3>
						</div>
					</div><!-- /.box-header -->
					<div class="box-content">
						<p>Free Shipping On Order Over $100</p>
					</div><!-- /.box-content -->
				</div><!-- /.iconbox -->
			</div><!-- /.col-md-3 col-sm-6 -->
			<div class="col-md-3 col-sm-6">
				<div class="iconbox">
					<div class="box-header">
						<div class="image">
							<img src="${request.contextPath}/portal/images/icons/order.png" alt="">
						</div>
						<div class="box-title">
							<h3>Order Online Service</h3>
						</div>
					</div><!-- /.box-header -->
					<div class="box-content">
						<p>Free return products in 30 days</p>
					</div><!-- /.box-content -->
				</div><!-- /.iconbox -->
			</div><!-- /.col-md-3 col-sm-6 -->
			<div class="col-md-3 col-sm-6">
				<div class="iconbox">
					<div class="box-header">
						<div class="image">
							<img src="${request.contextPath}/portal/images/icons/payment.png" alt="">
						</div>
						<div class="box-title">
							<h3>Payment</h3>
						</div>
					</div><!-- /.box-header -->
					<div class="box-content">
						<p>Secure System</p>
					</div><!-- /.box-content -->
				</div><!-- /.iconbox -->
			</div><!-- /.col-md-3 col-sm-6 -->
			<div class="col-md-3 col-sm-6">
				<div class="iconbox">
					<div class="box-header">
						<div class="image">
							<img src="${request.contextPath}/portal/images/icons/return.png" alt="">
						</div>
						<div class="box-title">
							<h3>Return 30 Days</h3>
						</div>
					</div><!-- /.box-header -->
					<div class="box-content">
						<p>Free return products in 30 days</p>
					</div><!-- /.box-content -->
				</div><!-- /.iconbox -->
			</div><!-- /.col-md-3 col-sm-6 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.flat-iconbox -->