      <section class="flat-imagebox">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="product-tab">
							<ul class="tab-list">
								<ldbz:sheet_tag key="'New_Arrivals','Featured','Top_Selling'" ;sheet>
										<li>${sheet.sheetName}</li>
								</ldbz:sheet_tag>
								<!-- <li class="active">最新发布</li>
								<li>特色商品</li>
								<li>热销商品</li> -->
							</ul>
						</div><!-- /.product-tab -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
				<div class="box-product">
					<ldbz:sheet_tag key="'New_Arrivals','Featured','Top_Selling'" ;sheet>
					<div class="row">
						<%
							var ad_index_1 = 0 ;
						%>
						<ldbz:sheet_item_tag key="${sheet.sheetKey}" ;item>
						<%
						++ad_index_1 ;
						if(ad_index_1%2==1){%>
						<div class="col-lg-3 col-sm-6">
						<%}%>
							<div class="product-box">
								<div class="imagebox">
									 <ul class="box-image owl-carousel-1">
										<li>
											<a href="${itemUrl}/item/${item.CODE}" target="_blank">
												<img src="${nginxImage}${item.IMAGE}" alt="">
											</a>
										</li>
										<li>
											<a href="${itemUrl}/item/${item.CODE}" target="_blank">
												<img src="${nginxImage}${item.IMAGE}" alt="">
											</a>
										</li>
									</ul><!-- /.box-image -->
									<div class="box-content">
										<div class="cat-name">
											<a href="javascript:;" title="">${item.CATEGORY_NAME}</a>
										</div>
										<div class="product-name">
											<a href="${itemUrl}/item/${item.CODE}" target="_blank">${item.TITLE}</a>
										</div>
										<div class="price">
											<span class="sale">￥${item.PRICE,numberFormat}</span>
											<span class="regular">￥${item.OLD_PRICE,numberFormat}</span>
										</div>
									</div><!-- /.box-content -->
									<div class="box-bottom">
										<div class="btn-add-cart">
											<a name="a_add_cart" href="javascript:;" title="加入购物车"
												item_code="${item.CODE}" item_image="${item.IMAGE}"
												item_price="${item.PRICE}" item_title="${item.TITLE}">
												<img src="${request.contextPath}/portal/images/icons/add-cart.png" alt="">加入购物车
											</a>
										</div>
										<div class="compare-wishlist">
											<a href="javascript:;" class="compare" title="">
												<img src="${request.contextPath}/portal/images/icons/compare.png" alt="">比较
											</a>
											<a href="javascript:;" class="wishlist" title="">
												<img src="${request.contextPath}/portal/images/icons/wishlist.png" alt="">收藏
											</a>
										</div>
									</div><!-- /.box-bottom -->
								</div><!-- /.imagebox -->
							</div>
							
						<%if(ad_index_1%2==0){%>
						</div><!-- /.col-lg-3 col-sm-6 -->
						<%}%>
						</ldbz:sheet_item_tag>
					</div><!-- /.row -->
					</ldbz:sheet_tag>
				</div><!-- /.box-product -->
			</div><!-- /.container -->
		</section><!-- /.flat-imagebox -->
