
	<section class="flat-imagebox style1">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="flat-row-title">
							<h3>商品推荐</h3>
						</div>
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
				<div class="row ">
				<%
				for(sheet in sheets){
						if(sheet.sheetKey == 'Recommend'){
				%>
					<div class="col-md-12 owl-carousel-10">
						<% 
							for(entry in sheet_items){
								if(entry.key==sheet.sheetKey){
									for(item in entry.value){
						%>
						<%if(itemLP.odd){%>
						<div class="owl-carousel-item">
						<%}%>
						
							<div class="product-box style1">
								<div class="imagebox style1">
									<div class="box-image">
										<a href="#" title="">
											<img src="${nginxImage}${item.IMAGE}" alt="">
										</a>
									</div><!-- /.box-image -->
									<div class="box-content">
										<div class="cat-name">
											<a href="#" title="">${item.CATEGORY_NAME}</a>
										</div>
										<div class="product-name">
											<a href="#" title="">${item.TITLE}</a>
										</div>
										<div class="price">
											<span class="regular">￥${item.PRICE,numberFormat}</span>
											<span class="sale">￥${item.OLD_PRICE,numberFormat}</span>
										</div>
									</div><!-- /.box-content -->
									<div class="box-bottom">
										<div class="compare-wishlist">
											<a href="#" class="compare" title="">
												<img src="images/icons/compare.png" alt="">比较
											</a>
											<a href="#" class="wishlist" title="">
												<img src="images/icons/wishlist.png" alt="">收藏
											</a>
										</div>
										<div class="btn-add-cart">
											<a href="#" title="">加入购物车</a>
										</div>
									</div><!-- /.box-bottom -->
								</div><!-- /.imagebox style1 -->
							</div>
							
						<%if(itemLP.even){%>
						</div>
						<%}%>
						
						<%
								}
							}
						}
						%>
					</div>
					<% 
						}
					}
					%>
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-imagebox style1 -->
