      <section class="flat-imagebox">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="product-tab">
							<ul class="tab-list">
								<% 
								for(sheet in sheets){
									if(sheet.sheetKey == 'New_Arrivals' ||
										sheet.sheetKey == 'Featured' ||
										sheet.sheetKey == 'Top_Selling'){
								%>
										<li>${sheet.sheetName}</li>
								<% 
									}
								}
								%>
								<!-- <li class="active">最新发布</li>
								<li>特色商品</li>
								<li>热销商品</li> -->
							</ul>
						</div><!-- /.product-tab -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
				<div class="box-product">
					<% 
					for(sheet in sheets){
						if(sheet.sheetKey == 'New_Arrivals' ||
							sheet.sheetKey == 'Featured' ||
							sheet.sheetKey == 'Top_Selling'){
					%>
					
					<div class="row">
						<%
						for(entry in sheet_items){
							if(entry.key==sheet.sheetKey){
								for(item in entry.value){
						%>
						<%if(itemLP.odd){%>
						<div class="col-lg-3 col-sm-6">
						<%}%>
							<div class="product-box">
								<div class="imagebox">
									 <ul class="box-image owl-carousel-1">
										<li>
											<a href="#" title="">
												<img src="${indexSlideUrl}${item.IMAGE}" alt="">
											</a>
										</li>
										<li>
											<a href="#" title="">
												<img src="${indexSlideUrl}${item.IMAGE}" alt="">
											</a>
										</li>
									</ul><!-- /.box-image -->
									<div class="box-content">
										<div class="cat-name">
											<a href="#" title="">${item.CATEGORY_NAME}</a>
										</div>
										<div class="product-name">
											<a href="#" title="">${item.TITLE}</a>
										</div>
										<div class="price">
											<span class="sale">￥${item.PRICE,numberFormat}</span>
											<span class="regular">$2,999.00</span>
										</div>
									</div><!-- /.box-content -->
									<div class="box-bottom">
										<div class="btn-add-cart">
											<a href="#" title="">
												<img src="images/icons/add-cart.png" alt="">加入购物车
											</a>
										</div>
										<div class="compare-wishlist">
											<a href="#" class="compare" title="">
												<img src="images/icons/compare.png" alt="">Compare
											</a>
											<a href="#" class="wishlist" title="">
												<img src="images/icons/wishlist.png" alt="">收藏
											</a>
										</div>
									</div><!-- /.box-bottom -->
								</div><!-- /.imagebox -->
							</div>
							
						<%if(itemLP.even){%>
						</div><!-- /.col-lg-3 col-sm-6 -->
						<%}%>
						
						<%
								}
							}
						}
						%>
					</div><!-- /.row -->
					
					<% 
						}
					}
					%>
					
				</div><!-- /.box-product -->
			</div><!-- /.container -->
		</section><!-- /.flat-imagebox -->
