<section class="header" >    
			<div class="header-top">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<ul class="flat-support">
								<li>
									<a href="#" title="">Support</a>
								</li>
								<li>
									<a href="#" title="">Store Locator</a>
								</li>
								<li>
									<a href="#" title="">Track Your Order</a>
								</li>
							</ul><!-- /.flat-support -->
						</div><!-- /.col-md-4 -->
						<div class="col-md-4">
							<ul class="flat-infomation">
								<li class="phone">
									Call Us: <a href="#" title="">(888) 1234 56789</a>
								</li>
							</ul><!-- /.flat-infomation -->
						</div><!-- /.col-md-4 -->
						<div class="col-md-4">
							<ul class="flat-unstyled">
								<li class="account">
									<a href="#" title="">My Account<i class="fa fa-angle-down" aria-hidden="true"></i></a>
									<ul class="unstyled">
										<li>
											<a href="#" title="">Login</a>
										</li>
										<li>
											<a href="wishlist.html" title="">Wishlist</a>
										</li>
										<li>
											<a href="shop-cart.html" title="">My Cart</a>
										</li>
										<li>
											<a href="my-account.html" title="">My Account</a>
										</li>
										<li>
											<a href="shop-checkout.html" title="">Checkout</a>
										</li>
									</ul><!-- /.unstyled -->
								</li>
								<li>
									<a href="#" title="">USD<i class="fa fa-angle-down" aria-hidden="true"></i></a>
									<ul class="unstyled">
										<li>
											<a href="#" title="">Euro</a>
										</li>
										<li>
											<a href="#" title="">Dolar</a>
										</li>
									</ul><!-- /.unstyled -->
								</li>
								<li>
									<a href="#" title="">English<i class="fa fa-angle-down" aria-hidden="true"></i></a>
									<ul class="unstyled">
										<li>
											<a href="#" title="">Turkish</a>
										</li>
										<li>
											<a href="#" title="">English</a>
										</li>
										<li>
											<a href="#" title="">اللغة العربية</a>
										</li>
										<li>
											<a href="#" title="">Español</a>
										</li>
										<li>
											<a href="#" title="">Italiano</a>
										</li>
									</ul><!-- /.unstyled -->
								</li>
							</ul><!-- /.flat-unstyled -->
						</div><!-- /.col-md-4 -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div><!-- /.header-top -->
			<div class="header-middle">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<div id="logo" class="logo">
								<a href="${request.contextPath}/index" title="">
									<img src="${request.contextPath}/images/logos/logo.png" alt="">
								</a>
							</div><!-- /#logo -->
						</div><!-- /.col-md-3 -->
						<div class="col-md-6">
							<div class="top-search">
								<form action="#" method="get" class="form-search" accept-charset="utf-8">
									<div class="cat-wrap">
										<select name="category">
											<option hidden value="">All Category</option>
											<option hidden value="">Cameras</option>
											<option hidden value="">Computer</option>
											<option hidden value="">Laptops</option>
										</select>
										<span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
										<div class="all-categories">
											<div class="cat-list-search">
												<div class="title">
													Electronics
												</div>
												<ul>
													<li>Components</li>
													<li>Laptop</li>
													<li>Monitor</li>
													<li>Mp3 player</li>
													<li>Scanners</li>
												</ul>
											</div><!-- /.cat-list-search -->
											<div class="cat-list-search">
												<div class="title">
													Furniture
												</div>
												<ul>
													<li>Bookcases</li>
													<li>Barstools</li>
													<li>TV stands</li>
													<li>Desks</li>
													<li>Accent chairs</li>
												</ul>
											</div><!-- /.cat-list-search -->
											<div class="cat-list-search">
												<div class="title">
													Accessories
												</div>
												<ul>
													<li>Software</li>
													<li>Mobile</li>
													<li>TV stands</li>
													<li>Printers</li>
													<li>Media</li>
												</ul>
											</div><!-- /.cat-list-search -->
										</div><!-- /.all-categories -->
									</div><!-- /.cat-wrap -->
									<div class="box-search">
										<input type="text" name="search" placeholder="Search what you looking for ?">
										<span class="btn-search">
											<button type="submit" class="waves-effect"><img src="${request.contextPath}/images/icons/search.png" alt=""></button>
										</span>
										<div class="search-suggestions">
											<div class="box-suggestions">
												<div class="title">
													Search Suggestions
												</div>
												<ul>
													<li>
														<div class="image">
															<img src="${request.contextPath}/images/product/other/s05.jpg" alt="">
														</div>
														<div class="info-product">
															<div class="name">
																<a href="#" title="">Razer RZ02-01071500-R3M1</a>
															</div>
															<div class="price">
																<span class="sale">
																	$50.00
																</span>
																<span class="regular">
																	$2,999.00
																</span>
															</div>
														</div>
													</li>
													<li>
														<div class="image">
															<img src="${request.contextPath}/images/product/other/s06.jpg" alt="">
														</div>
														<div class="info-product">
															<div class="name">
																<a href="#" title="">Notebook Black Spire V Nitro VN7-591G</a>
															</div>
															<div class="price">
																<span class="sale">
																	$24.00
																</span>
															</div>
														</div>
													</li>
													<li>
														<div class="image">
															<img src="${request.contextPath}/images/product/other/14.jpg" alt="">
														</div>
														<div class="info-product">
															<div class="name">
																<a href="#" title="">Apple iPad Mini G2356</a>
															</div>
															<div class="price">
																<span class="sale">
																	$90.00
																</span>
															</div>
														</div>
													</li>
													<li>
														<div class="image">
															<img src="${request.contextPath}/images/product/other/02.jpg" alt="">
														</div>
														<div class="info-product">
															<div class="name">
																<a href="#" title="">Razer RZ02-01071500-R3M1</a>
															</div>
															<div class="price">
																<span class="sale">
																	$50.00
																</span>
															</div>
														</div>
													</li>
													<li>
														<div class="image">
															<img src="${request.contextPath}/images/product/other/l01.jpg" alt="">
														</div>
														<div class="info-product">
															<div class="name">
																<a href="#" title="">Apple iPad Mini G2356</a>
															</div>
															<div class="price">
																<span class="sale">
																	$24.00
																</span>
																<span class="regular">
																	$2,999.00
																</span>
															</div>
														</div>
													</li>
													<li>
														<div class="image">
															<img src="${request.contextPath}/images/product/other/s08.jpg" alt="">
														</div>
														<div class="info-product">
															<div class="name">
																<a href="#" title="">Beats Snarkitecture Headphones</a>
															</div>
															<div class="price">
																<span class="sale">
																	$90.00
																</span>
																<span class="regular">
																	$2,999.00
																</span>
															</div>
														</div>
													</li>
												</ul>
											</div><!-- /.box-suggestions -->
											<div class="box-cat">
												<div class="cat-list-search">
													<div class="title">
														Categories
													</div>
													<ul>
														<li>
															<a href="#">Networking & Internet Devices</a>
														</li>
														<li>
															<a href="#">Laptops, Desktops & Monitors</a>
														</li>
														<li>
															<a href="#">Hard Drives & Memory Cards</a>
														</li>
														<li>
															<a href="#">Printers & Ink</a>
														</li>
														<li>
															<a href="#">Networking & Internet Devices</a>
														</li>
														<li>
															<a href="#">Computer Accessories</a>
														</li>
														<li>
															<a href="#">Software</a>
														</li>
													</ul>
												</div><!-- /.cat-list-search -->
											</div><!-- /.box-cat -->
										</div><!-- /.search-suggestions -->
									</div><!-- /.box-search -->
								</form><!-- /.form-search -->
							</div><!-- /.top-search -->
						</div><!-- /.col-md-6 -->
						<div class="col-md-3">
							<div class="box-cart">
								<div class="inner-box">
									<ul class="menu-compare-wishlist">
										<li class="compare">
											<a href="#" title="">
												<img src="${request.contextPath}/images/icons/compare.png" alt="">
											</a>
										</li>
										<li class="wishlist">
											<a href="wishlist.html" title="">
												<img src="${request.contextPath}/images/icons/wishlist.png" alt="">
											</a>
										</li>
									</ul><!-- /.menu-compare-wishlist -->
								</div><!-- /.inner-box -->
								<div class="inner-box">
									<a href="#" title="">
										<div class="icon-cart">
											<img src="${request.contextPath}/images/icons/cart.png" alt="">
											<span>4</span>
										</div>
										<div class="price">
											$0.00
										</div>
									</a>
									<div class="dropdown-box">
										<ul>
											<li>
												<div class="img-product">
													<img src="${request.contextPath}/images/product/other/img-cart-1.jpg" alt="">
												</div>
												<div class="info-product">
													<div class="name">
														Samsung - Galaxy S6 4G LTE <br />with 32GB Memory Cell Phone
													</div>
													<div class="price">
														<span>1 x</span>
														<span>$250.00</span>
													</div>
												</div>
												<div class="clearfix"></div>
												<span class="delete">x</span>
											</li>
											<li>
												<div class="img-product">
													<img src="${request.contextPath}/images/product/other/img-cart-2.jpg" alt="">
												</div>
												<div class="info-product">
													<div class="name">
														Sennheiser - Over-the-Ear Headphone System - Black
													</div>
													<div class="price">
														<span>1 x</span>
														<span>$250.00</span>
													</div>
												</div>
												<div class="clearfix"></div>
												<span class="delete">x</span>
											</li>
										</ul>
										<div class="total">
											<span>Subtotal:</span>
											<span class="price">$1,999.00</span>
										</div>
										<div class="btn-cart">
											<a href="shop-cart.html" class="view-cart" title="">View Cart</a>
											<a href="shop-checkout.html" class="check-out" title="">Checkout</a>
										</div>
									</div>
								</div><!-- /.inner-box -->
							</div><!-- /.box-cart -->
						</div><!-- /.col-md-3 -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div><!-- /.header-middle -->
			<div class="header-bottom">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-2">
							<div id="mega-menu">
								<div class="btn-mega"><span></span>ALL CATEGORIES</div>
								<ul class="menu">
									<li>
										<a href="#" title="" class="dropdown">
											<span class="menu-img">
												<img src="${request.contextPath}/images/icons/menu/01.png" alt="">
											</span>
											<span class="menu-title">
												Laptops & Mac
											</span>
										</a>
										<div class="drop-menu">
											<div class="one-third">
												<div class="cat-title">
													Laptop And Mac
												</div>
												<ul>
													<li>
														<a href="#" title="">Networking & Internet Devices</a>
													</li>
													<li>
														<a href="#" title="">Laptops, Desktops & Monitors</a>
													</li>
													<li>
														<a href="#" title="">Hard Drives & Memory Cards</a>
													</li>
													<li>
														<a href="#" title="">Computer Accessories</a>
													</li>
													<li>
														<a href="#" title="">Software</a>
													</li>
												</ul>
												<div class="show">
													<a href="#" title="">Shop All</a>
												</div>
											</div>
											<div class="one-third">
												<div class="cat-title">
													Audio & Video
												</div>
												<ul>
													<li>
														<a href="#" title="">Headphones & Speakers</a>
													</li>
													<li>
														<a href="#" title="">Home Entertainment Systems</a>
													</li>
													<li>
														<a href="#" title="">MP3 & Media Players</a>
													</li>
													<li>
														<a href="#" title="">Software</a>
													</li>
												</ul>
												<div class="show">
													<a href="#" title="">Shop All</a>
												</div>
											</div>
											<div class="one-third">
												<ul class="banner">
													<li>
														<div class="banner-text">
															<div class="banner-title">
																Headphones
															</div>
															<div class="more-link">
																<a href="#" title="">Shop Now <img src="${request.contextPath}/images/icons/right-2.png" alt=""></a>
															</div>
														</div>
														<div class="banner-img">
															<img src="${request.contextPath}/images/banner_boxes/menu-01.png" alt="">
														</div>
														<div class="clearfix"></div>
													</li>
													<li>
														<div class="banner-text">
															<div class="banner-title">
																TV & Audio
															</div>
															<div class="more-link">
																<a href="#" title="">Shop Now <img src="${request.contextPath}/images/icons/right-2.png" alt=""></a>
															</div>
														</div>
														<div class="banner-img">
															<img src="${request.contextPath}/images/banner_boxes/menu-02.png" alt="">
														</div>
														<div class="clearfix"></div>
													</li>
													<li>
														<div class="banner-text">
															<div class="banner-title">
																Computers
															</div>
															<div class="more-link">
																<a href="#" title="">Shop Now <img src="${request.contextPath}/images/icons/right-2.png" alt=""></a>
															</div>
														</div>
														<div class="banner-img">
															<img src="${request.contextPath}/images/banner_boxes/menu-03.png" alt="">
														</div>
														<div class="clearfix"></div>
													</li>
												</ul>	
											</div>
										</div>
									</li>
									<li>
										<a href="#" title="" class="dropdown">
											<span class="menu-img">
												<img src="${request.contextPath}/images/icons/menu/02.png" alt="">
											</span>
											<span class="menu-title">
												Mobile & Tablet
											</span>
										</a>
										<div class="drop-menu">
											<div class="one-third">
												<div class="cat-title">
													Laptop And Computer
												</div>
												<ul>
													<li>
														<a href="#" title="">Networking & Internet Devices</a>
													</li>
													<li>
														<a href="#" title="">Laptops, Desktops & Monitors</a>
													</li>
													<li>
														<a href="#" title="">Hard Drives & Memory Cards</a>
													</li>
													<li>
														<a href="#" title="">Printers & Ink</a>
													</li>
													<li>
														<a href="#" title="">Networking & Internet Devices</a>
													</li>
													<li>
														<a href="#" title="">Computer Accessories</a>
													</li>
													<li>
														<a href="#" title="">Software</a>
													</li>
												</ul>
												<div class="show">
													<a href="#" title="">Shop All</a>
												</div>
											</div>
											<div class="one-third">
												<div class="cat-title">
													Audio & Video
												</div>
												<ul>
													<li>
														<a href="#" title="">Headphones & Speakers</a>
													</li>
													<li>
														<a href="#" title="">Home Entertainment Systems</a>
													</li>
													<li>
														<a href="#" title="">MP3 & Media Players</a>
													</li>
												</ul>
												<div class="show">
													<a href="#" title="">Shop All</a>
												</div>
											</div>
											<div class="one-third">
												<ul class="banner">
													<li>
														<div class="banner-text">
															<div class="banner-title">
																Headphones
															</div>
															<div class="more-link">
																<a href="#" title="">Shop Now <img src="${request.contextPath}/images/icons/right-2.png" alt=""></a>
															</div>
														</div>
														<div class="banner-img">
															<img src="${request.contextPath}/images/banner_boxes/menu-01.png" alt="">
														</div>
														<div class="clearfix"></div>
													</li>
													<li>
														<div class="banner-text">
															<div class="banner-title">
																TV & Audio
															</div>
															<div class="more-link">
																<a href="#" title="">Shop Now <img src="${request.contextPath}/images/icons/right-2.png" alt=""></a>
															</div>
														</div>
														<div class="banner-img">
															<img src="${request.contextPath}/images/banner_boxes/menu-02.png" alt="">
														</div>
														<div class="clearfix"></div>
													</li>
													<li>
														<div class="banner-text">
															<div class="banner-title">
																Computers
															</div>
															<div class="more-link">
																<a href="#" title="">Shop Now <img src="${request.contextPath}/images/icons/right-2.png" alt=""></a>
															</div>
														</div>
														<div class="banner-img">
															<img src="${request.contextPath}/images/banner_boxes/menu-03.png" alt="">
														</div>
														<div class="clearfix"></div>
													</li>
												</ul>	
											</div>
										</div>
									</li>
									<li>
										<a href="#" title="" class="dropdown">
											<span class="menu-img">
												<img src="${request.contextPath}/images/icons/menu/03.png" alt="">
											</span>
											<span class="menu-title">
												Home Devices
											</span>
										</a>
										<div class="drop-menu">
											<div class="one-third">
												<div class="cat-title">
													Home Devices
												</div>
												<ul>
													<li>
														<a href="#" title="">Internet Devices</a>
													</li>
													<li>
														<a href="#" title="">Desktops & Monitors</a>
													</li>
													<li>
														<a href="#" title="">Hard Drives & Memory Cards</a>
													</li>
													<li>
														<a href="#" title="">Networking</a>
													</li>
													<li>
														<a href="#" title="">Software</a>
													</li>
												</ul>
												<div class="show">
													<a href="#" title="">Shop All</a>
												</div>
											</div>
											<div class="one-third">
												<div class="cat-title">
													Audio
												</div>
												<ul>
													<li>
														<a href="#" title="">Home Entertainment Systems</a>
													</li>
													<li>
														<a href="#" title="">MP3 & Media Players</a>
													</li>
													<li>
														<a href="#" title="">Software</a>
													</li>
												</ul>
												<div class="show">
													<a href="#" title="">Shop All</a>
												</div>
											</div>
											<div class="one-third">
												<ul class="banner">
													<li>
														<div class="banner-text">
															<div class="banner-title">
																Headphones
															</div>
															<div class="more-link">
																<a href="#" title="">Shop Now <img src="${request.contextPath}/images/icons/right-2.png" alt=""></a>
															</div>
														</div>
														<div class="banner-img">
															<img src="${request.contextPath}/images/banner_boxes/menu-01.png" alt="">
														</div>
														<div class="clearfix"></div>
													</li>
													<li>
														<div class="banner-text">
															<div class="banner-title">
																TV & Audio
															</div>
															<div class="more-link">
																<a href="#" title="">Shop Now <img src="${request.contextPath}/images/icons/right-2.png" alt=""></a>
															</div>
														</div>
														<div class="banner-img">
															<img src="${request.contextPath}/images/banner_boxes/menu-02.png" alt="">
														</div>
														<div class="clearfix"></div>
													</li>
													<li>
														<div class="banner-text">
															<div class="banner-title">
																Computers
															</div>
															<div class="more-link">
																<a href="#" title="">Shop Now <img src="${request.contextPath}/images/icons/right-2.png" alt=""></a>
															</div>
														</div>
														<div class="banner-img">
															<img src="${request.contextPath}/images/banner_boxes/menu-03.png" alt="">
														</div>
														<div class="clearfix"></div>
													</li>
												</ul>	
											</div>
										</div>
									</li>
									<li>
										<a href="#" title="">
											<span class="menu-img">
												<img src="${request.contextPath}/images/icons/menu/04.png" alt="">
											</span>
											<span class="menu-title">
												Software
											</span>
										</a>
									</li>
									<li>
										<a href="#" title="">
											<span class="menu-img">
												<img src="${request.contextPath}/images/icons/menu/05.png" alt="">
											</span>
											<span class="menu-title">
												TV & Audio
											</span>
										</a>
									</li>
									<li>
										<a href="#" title="">
											<span class="menu-img">
												<img src="${request.contextPath}/images/icons/menu/06.png" alt="">
											</span>
											<span class="menu-title">
												Sports & Fitness
											</span>
										</a>
									</li>
									<li>
										<a href="#" title="" class="dropdown">
											<span class="menu-img">
												<img src="${request.contextPath}/images/icons/menu/07.png" alt="">
											</span>
											<span class="menu-title">
												Games & Toys
											</span>
										</a>
										<div class="drop-menu">
											<div class="one-third">
												<div class="cat-title">
													Games & Toys
												</div>
												<ul>
													<li>
														<a href="#" title="">Internet Devices</a>
													</li>
													<li>
														<a href="#" title="">Desktops & Monitors</a>
													</li>
													<li>
														<a href="#" title="">Hard Drives & Memory Cards</a>
													</li>
													<li>
														<a href="#" title="">Networking</a>
													</li>
													<li>
														<a href="#" title="">Software</a>
													</li>
												</ul>
												<div class="show">
													<a href="#" title="">Shop All</a>
												</div>
											</div>
											<div class="one-third">
												<div class="cat-title">
													Audio
												</div>
												<ul>
													<li>
														<a href="#" title="">Home Entertainment Systems</a>
													</li>
													<li>
														<a href="#" title="">MP3 & Media Players</a>
													</li>
													<li>
														<a href="#" title="">Software</a>
													</li>
												</ul>
												<div class="show">
													<a href="#" title="">Shop All</a>
												</div>
											</div>
											<div class="one-third">
												<ul class="banner">
													<li>
														<div class="banner-text">
															<div class="banner-title">
																Headphones
															</div>
															<div class="more-link">
																<a href="#" title="">Shop Now <img src="${request.contextPath}/images/icons/right-2.png" alt=""></a>
															</div>
														</div>
														<div class="banner-img">
															<img src="${request.contextPath}/images/banner_boxes/menu-01.png" alt="">
														</div>
														<div class="clearfix"></div>
													</li>
													<li>
														<div class="banner-text">
															<div class="banner-title">
																TV & Audio
															</div>
															<div class="more-link">
																<a href="#" title="">Shop Now <img src="${request.contextPath}/images/icons/right-2.png" alt=""></a>
															</div>
														</div>
														<div class="banner-img">
															<img src="${request.contextPath}/images/banner_boxes/menu-02.png" alt="">
														</div>
														<div class="clearfix"></div>
													</li>
													<li>
														<div class="banner-text">
															<div class="banner-title">
																Computers
															</div>
															<div class="more-link">
																<a href="#" title="">Shop Now <img src="${request.contextPath}/images/icons/right-2.png" alt=""></a>
															</div>
														</div>
														<div class="banner-img">
															<img src="${request.contextPath}/images/banner_boxes/menu-03.png" alt="">
														</div>
														<div class="clearfix"></div>
													</li>
												</ul>	
											</div>
										</div>
									</li>
									<li>
										<a href="#" title="">
											<span class="menu-img">
												<img src="${request.contextPath}/images/icons/menu/08.png" alt="">
											</span>
											<span class="menu-title">
												Video Cameras
											</span>
										</a>
									</li>
									<li>
										<a href="#" title="" class="dropdown">
											<span class="menu-img">
												<img src="${request.contextPath}/images/icons/menu/09.png" alt="">
											</span>
											<span class="menu-title">
												Accessories
											</span>
										</a>
										<div class="drop-menu">
											<div class="one-third">
												<div class="cat-title">
													Accessories
												</div>
												<ul>
													<li>
														<a href="#" title="">Internet Devices</a>
													</li>
													<li>
														<a href="#" title="">Desktops & Monitors</a>
													</li>
													<li>
														<a href="#" title="">Hard Drives & Memory Cards</a>
													</li>
													<li>
														<a href="#" title="">Networking</a>
													</li>
													<li>
														<a href="#" title="">Software</a>
													</li>
												</ul>
												<div class="show">
													<a href="#" title="">Shop All</a>
												</div>
											</div>
											<div class="one-third">
												<div class="cat-title">
													Audio
												</div>
												<ul>
													<li>
														<a href="#" title="">Home Entertainment Systems</a>
													</li>
													<li>
														<a href="#" title="">MP3 & Media Players</a>
													</li>
													<li>
														<a href="#" title="">Software</a>
													</li>
												</ul>
												<div class="show">
													<a href="#" title="">Shop All</a>
												</div>
											</div>
											<div class="one-third">
												<ul class="banner">
													<li>
														<div class="banner-text">
															<div class="banner-title">
																Headphones
															</div>
															<div class="more-link">
																<a href="#" title="">Shop Now <img src="${request.contextPath}/images/icons/right-2.png" alt=""></a>
															</div>
														</div>
														<div class="banner-img">
															<img src="${request.contextPath}/images/banner_boxes/menu-01.png" alt="">
														</div>
														<div class="clearfix"></div>
													</li>
													<li>
														<div class="banner-text">
															<div class="banner-title">
																TV & Audio
															</div>
															<div class="more-link">
																<a href="#" title="">Shop Now <img src="${request.contextPath}/images/icons/right-2.png" alt=""></a>
															</div>
														</div>
														<div class="banner-img">
															<img src="${request.contextPath}/images/banner_boxes/menu-02.png" alt="">
														</div>
														<div class="clearfix"></div>
													</li>
													<li>
														<div class="banner-text">
															<div class="banner-title">
																Computers
															</div>
															<div class="more-link">
																<a href="#" title="">Shop Now <img src="${request.contextPath}/images/icons/right-2.png" alt=""></a>
															</div>
														</div>
														<div class="banner-img">
															<img src="${request.contextPath}/images/banner_boxes/menu-03.png" alt="">
														</div>
														<div class="clearfix"></div>
													</li>
												</ul>	
											</div>
										</div>
									</li>
									<li>
										<a href="#" title="" class="dropdown">
											<span class="menu-img">
												<img src="${request.contextPath}/images/icons/menu/10.png" alt="">
											</span>
											<span class="menu-title">
												Security
											</span>
										</a>
										<div class="drop-menu">
											<div class="one-third">
												<div class="cat-title">
													Security
												</div>
												<ul>
													<li>
														<a href="#" title="">Internet Devices</a>
													</li>
													<li>
														<a href="#" title="">Desktops & Monitors</a>
													</li>
													<li>
														<a href="#" title="">Hard Drives & Memory Cards</a>
													</li>
													<li>
														<a href="#" title="">Networking</a>
													</li>
													<li>
														<a href="#" title="">Software</a>
													</li>
												</ul>
												<div class="show">
													<a href="#" title="">Shop All</a>
												</div>
											</div>
											<div class="one-third">
												<div class="cat-title">
													Audio
												</div>
												<ul>
													<li>
														<a href="#" title="">Home Entertainment Systems</a>
													</li>
													<li>
														<a href="#" title="">MP3 & Media Players</a>
													</li>
													<li>
														<a href="#" title="">Software</a>
													</li>
													<li>
														<a href="#" title="">Hard Drives & Memory Cards</a>
													</li>
													<li>
														<a href="#" title="">Networking</a>
													</li>
												</ul>
												<div class="show">
													<a href="#" title="">Shop All</a>
												</div>
											</div>
											<div class="one-third">
												<ul class="banner">
													<li>
														<div class="banner-text">
															<div class="banner-title">
																Headphones
															</div>
															<div class="more-link">
																<a href="#" title="">Shop Now <img src="${request.contextPath}/images/icons/right-2.png" alt=""></a>
															</div>
														</div>
														<div class="banner-img">
															<img src="${request.contextPath}/images/banner_boxes/menu-01.png" alt="">
														</div>
														<div class="clearfix"></div>
													</li>
													<li>
														<div class="banner-text">
															<div class="banner-title">
																TV & Audio
															</div>
															<div class="more-link">
																<a href="#" title="">Shop Now <img src="${request.contextPath}/images/icons/right-2.png" alt=""></a>
															</div>
														</div>
														<div class="banner-img">
															<img src="${request.contextPath}/images/banner_boxes/menu-02.png" alt="">
														</div>
														<div class="clearfix"></div>
													</li>
													<li>
														<div class="banner-text">
															<div class="banner-title">
																Computers
															</div>
															<div class="more-link">
																<a href="#" title="">Shop Now <img src="${request.contextPath}/images/icons/right-2.png" alt=""></a>
															</div>
														</div>
														<div class="banner-img">
															<img src="${request.contextPath}/images/banner_boxes/menu-03.png" alt="">
														</div>
														<div class="clearfix"></div>
													</li>
												</ul>	
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div><!-- /.col-md-3 -->
						<div class="col-md-9 col-10">
							<div class="nav-wrap">
								<div id="mainnav" class="mainnav">
									<ul class="menu">
										<li class="column-1">
											<a href="index.html" title="">Home</a>
											<ul class="submenu">
												<li>
													<a href="index.html" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Home Layout 01</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Home Layout 02</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Home Layout 03</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Home Layout 04</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Home Layout 05</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Home Layout 06</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Home Layout 07</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Home Layout 08</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Home Layout 09</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Home Layout 10</a>
												</li>
											</ul><!-- /.submenu -->
										</li><!-- /.column-1 -->
										<li class="column-1">
											<a href="shop.html" title="">Shop</a>
											<ul class="submenu">
												<li>
													<a href="shop.html" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Shop left sidebar</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Shop right sidebar</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Shop list view</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Shop full width</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Shop 03 column</a>
												</li>
												<li>
													<a href="shop-cart.html" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Shop cart</a>
												</li>
												<li>
													<a href="shop-checkout.html" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Shop checkout</a>
												</li>
											</ul><!-- /.submenu -->
										</li><!-- /.column-1 -->
										<li class="column-1">
											<a href="#" title="">Features</a>
											<ul class="submenu">
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Home Theater Systems</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Receivers & Amplifiers</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Speakers</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>CD Players & Turntables</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>High-Resolution Audio</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>4K Ultra HD TVs</a>
												</li>
											</ul><!-- /.submenu -->
										</li><!-- /.column-1 -->
										<li class="has-mega-menu">
											<a href="#" title="">Electronic</a>
											<div class="submenu">
												<div class="row">
													<div class="col-lg-3 col-md-12">
														<h3 class="cat-title">Accessories</h3>
														<ul class="submenu-child">
															<li>
																<a href="#" title="">Electronics</a>
															</li>
															<li>
																<a href="#" title="">Furniture</a>
															</li>
															<li>
																<a href="#" title="">Accessories</a>
															</li>
															<li>
																<a href="#" title="">Divided</a>
															</li>
															<li>
																<a href="#" title="">Everyday Fashion</a>
															</li>
															<li>
																<a href="#" title="">Modern Classic</a>
															</li>
															<li>
																<a href="#" title="">Party</a>
															</li>
														</ul>
														<div class="show">
															<a href="#" title="">Shop All</a>
														</div>
													</div><!-- /.col-lg-3 col-md-12 -->
													<div class="col-lg-3 col-md-12">
														<h3 class="cat-title">Laptop And Computer</h3>
														<ul class="submenu-child">
															<li>
																<a href="#" title="">Networking & Internet Devices</a>
															</li>
															<li>
																<a href="#" title="">Laptops, Desktops & Monitors</a>
															</li>
															<li>
																<a href="#" title="">Hard Drives & Memory Cards</a>
															</li>
															<li>
																<a href="#" title="">Printers & Ink</a>
															</li>
															<li>
																<a href="#" title="">Networking & Internet Devices</a>
															</li>
															<li>
																<a href="#" title="">Computer Accessories</a>
															</li>
															<li>
																<a href="#" title="">Software</a>
															</li>
														</ul>
														<div class="show">
															<a href="#" title="">Shop All</a>
														</div>
													</div><!-- /.col-lg-3 col-md-12 -->
													<div class="col-lg-4 col-md-12">
														<h3 class="cat-title">Audio & Video</h3>
														<ul class="submenu-child">
															<li>
																<a href="#" title="">Headphones & Speakers</a>
															</li>
															<li>
																<a href="#" title="">Home Entertainment Systems</a>
															</li>
															<li>
																<a href="#" title="">MP3 & Media Players</a>
															</li>
														</ul>
														<div class="show">
															<a href="#" title="">Shop All</a>
														</div>
													</div><!-- /.col-lg-4 col-md-12 -->
													<div class="col-lg-2 col-md-12">
														<h3 class="cat-title">Home Audio</h3>
														<ul class="submenu-child">
															<li>
																<a href="#" title="">Home Theater Systems</a>
															</li>
															<li>
																<a href="#" title="">Receivers & Amplifiers</a>
															</li>
															<li>
																<a href="#" title="">Speakers</a>
															</li>
															<li>
																<a href="#" title="">CD Players & Turntables</a>
															</li>
															<li>
																<a href="#" title="">High-Resolution Audio</a>
															</li>
															<li>
																<a href="#" title="">4K Ultra HD TVs</a>
															</li>
														</ul>
														<div class="show">
															<a href="#" title="">Shop All</a>
														</div>
													</div><!-- /.col-lg-2 col-md-12 -->
												</div><!-- /.row -->
												<div class="row">
													<div class="col-md-6">
														<div class="banner-box">
															<div class="inner-box">
																<a href="#" title="">
																	<img src="${request.contextPath}/images/banner_boxes/submenu-01.png" alt="">
																</a>
															</div>
														</div>
													</div>
													<div class="col-md-6">
														<div class="banner-box">
															<div class="inner-box">
																<a href="#" title="">
																	<img src="${request.contextPath}/images/banner_boxes/submenu-02.png" alt="">
																</a>
															</div>
														</div>
													</div>
												</div><!-- /.row -->
											</div><!-- /.submenu -->
										</li><!-- /.has-mega-menu -->
										<li class="column-1">
											<a href="#" title="">Pages</a>
											<ul class="submenu">
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>About</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>404 Page</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Brands Page</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Categories 01</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Categories 02</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Element</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>FAQ</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Order Tracking</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Terms & Conditions</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Single Product 01</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Single Product 02</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Single Product 03</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Single Product 04</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Single Product 05</a>
												</li>
											</ul><!-- /.submenu -->
										</li><!-- /.column-1 -->
										<li class="column-1">
											<a href="#" title="">Blog</a>
											<ul class="submenu">
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Blog left sidebar</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Blog right sidebar</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Blog list</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Blog 02 column</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Blog full width</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Blog single</a>
												</li>
											</ul><!-- /.submenu -->
										</li><!-- /.column-1 -->
										<li class="column-1">
											<a href="#" title="">Contact</a>
											<ul class="submenu">
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Contact 01</a>
												</li>
												<li>
													<a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Contact 02</a>
												</li>
											</ul><!-- /.submenu -->
										</li><!-- /.column-1 -->
									</ul><!-- /.menu -->
								</div><!-- /.mainnav -->
							</div><!-- /.nav-wrap -->
							<div class="today-deal">
								<a href="#" title="">TODAY DEALS</a>
							</div><!-- /.today-deal -->
							<div class="btn-menu">
	                            <span></span>
	                        </div><!-- //mobile menu button -->
						</div><!-- /.col-md-9 -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div><!-- /.header-bottom -->
</section>