<section class="flat-breadcrumb">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="breadcrumbs">
					<li class="trail-item">
						<a href="javascript:;" title="">首页</a>
						<span><img src="${request.contextPath}/item/images/icons/arrow-right.png" alt=""></span>
					</li>
					<li class="trail-end">
						<a href="javascript:;" title="">商品明细</a>
					</li>
				</ul><!-- /.breacrumbs -->
			</div><!-- /.col-md-12 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.flat-breadcrumb -->