<section class="flat-product-detail">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="flexslider">
					<ul class="slides">
					    <li data-thumb="${request.contextPath}/images/product/flexslider/thumb/2.jpg">
					      <img src="${request.contextPath}/images/product/flexslider/l01.jpg" alt="image slider" />
					      <span>NEW</span>
					    </li>
					    <li data-thumb="${request.contextPath}/images/product/flexslider/thumb/3.jpg">
					      <img src="${request.contextPath}/images/product/flexslider/l01.jpg" alt="image slider" />
					    </li>
					    <li data-thumb="${request.contextPath}/images/product/flexslider/thumb/4.jpg">
					      <img src="${request.contextPath}/images/product/flexslider/l01.jpg" alt="image slider" />
					      <span>NEW</span>
					    </li>
					    <li data-thumb="${request.contextPath}/images/product/flexslider/thumb/5.jpg">
					      <img src="${request.contextPath}/images/product/flexslider/l01.jpg" alt="image slider" />
					    </li>
					    <li data-thumb="${request.contextPath}/images/product/flexslider/thumb/6.jpg">
					      <img src="${request.contextPath}/images/product/flexslider/l01.jpg" alt="image slider" />
					    </li>
					</ul><!-- /.slides -->
				</div><!-- /.flexslider -->
			</div><!-- /.col-md-6 -->
			<div class="col-md-6">
				<div class="product-detail">
					<div class="header-detail">
						<h4 class="name">${item.title}</h4>
						<div class="category">
							Smart Watches
						</div>
					</div><!-- /.header-detail -->
					<div class="content-detail">
						<div class="price">
							<div class="regular">
								￥${item.oldPrice,numberFormat}
							</div>
							<div class="sale">
								￥${item.price,numberFormat}
							</div>
						</div>
						<div class="info-text">
							Vivamus in tempor eros. Phasellus rhoncus in nunc sit amet mattis. Integer in ipsum vestibulum, molestie arcu ac, efficitur tellus. Phasellus id vulputate erat.
						</div>
						<div class="product-id">
							SKU: <span class="id">FW511948218</span>
						</div>
					</div><!-- /.content-detail -->
					<div class="footer-detail">
						<div class="quanlity-box">
							<div class="colors">
								<select name="color">
									<option value="">选择颜色</option>
									<option value="">Black</option>
									<option value="">Red</option>
									<option value="">White</option>
								</select>
							</div>
							<div class="quanlity" style="top:18px;">
								<span class="btn-down"></span>
								<input type="number" name="number" value="" min="1" max="100" placeholder="数量">
								<span class="btn-up"></span>
							</div>
						</div><!-- /.quanlity-box -->
						<div class="box-cart style2">
							<div class="btn-add-cart">
								<a href="#" title=""><img src="${request.contextPath}/images/icons/add-cart.png" alt="">加入购物车</a>
							</div>
							<div class="compare-wishlist">
								<a href="#" class="compare" title=""><img src="${request.contextPath}/images/icons/compare.png" alt="">比较</a>
								<a href="#" class="wishlist" title=""><img src="${request.contextPath}/images/icons/wishlist.png" alt="">收藏</a>
							</div>
						</div><!-- /.box-cart -->
						<div class="social-single">
							<span>分享</span>
							<ul class="social-list style2">
								<li>
									<a href="#" title="">
										<i class="fa fa-facebook" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="#" title="">
										<i class="fa fa-twitter" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="#" title="">
										<i class="fa fa-instagram" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="#" title="">
										<i class="fa fa-pinterest" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="#" title="">
										<i class="fa fa-dribbble" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="#" title="">
										<i class="fa fa-google" aria-hidden="true"></i>
									</a>
								</li>
							</ul><!-- /.social-list -->
						</div><!-- /.social-single -->
					</div><!-- /.footer-detail -->
				</div><!-- /.product-detail -->
			</div><!-- /.col-md-6 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.flat-product-detail -->