@charset "UTF-8";

/* line 13, ../sass/toast.scss */
.cpt-toast {
  position: fixed;
  left: 50%;
  top: 50%;
  text-align: center;
  animation-duration: 0.3s;
  max-width: 300px;
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%);
  transform: translate3d(-50%, -50%, 0);
  font-family: '微软雅黑','Microsoft Yahei';
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  word-wrap: break-word;
}
