<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>板块分配商品</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="${request.contextPath}/layui-admin/frame/layui/css/layui.css">
</head>
<body>
<input type="hidden" value="${id}" name="id">
          
 
<script type="text/javascript" src="${request.contextPath}/layui-admin/frame/layui/layui.js"></script>
<script>
layui.use(['form', 'layedit'], function(){
  var form = layui.form
  ,layer = layui.layer
  ,$ = layui.jquery
  ,layedit = layui.layedit ;
  
	
});
</script>
</body>
</html>