<div class="slider owl-carousel-16">
	<div class="slider-item style9">
		<div class="item-text">
			<div class="header-item">
				<p>You can build the banner for other category</p>
				<h2 class="name">Shop Banner</h2>
			</div>
		</div>
		<div class="item-image">
			<img src="images/banner_boxes/07.png" alt="">
		</div>
		<div class="clearfix"></div>
	</div><!-- /.slider-item style9 -->
	<div class="slider-item style9">
		<div class="item-text">
			<div class="header-item">
				<p>You can build the banner for other category</p>
				<h2 class="name">Shop Banner</h2>
			</div>
		</div>
		<div class="item-image">
			<img src="images/banner_boxes/07.png" alt="">
		</div>
		<div class="clearfix"></div>
	</div><!-- /.slider-item style9 -->
</div><!-- /.slider -->