<div class="widget widget-products">
	<div class="widget-title">
		<h3>Best Seller<span></span></h3>
	</div>
	<ul class="product-list widget-content">
		<li>
			<div class="img-product">
				<a href="#" title="">
					<img src="images/blog/14.jpg" alt="">
				</a>
			</div>
			<div class="info-product">
				<div class="name">
					<a href="#" title="">Razer RZ02-01071 <br/>500-R3M1</a>
				</div>
				<div class="queue">
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
				</div>
				<div class="price">
					<span class="sale">$50.00</span>
					<span class="regular">$2,999.00</span>
				</div>
			</div>
		</li>	
		<li>
			<div class="img-product">
				<a href="#" title="">
					<img src="images/blog/13.jpg" alt="">
				</a>
			</div>
			<div class="info-product">
				<div class="name">
					<a href="#" title="">Notebook Black Spire <br/>V Nitro VN7-591G</a>
				</div>
				<div class="queue">
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
				</div>
				<div class="price">
					<span class="sale">$24.00</span>
					<span class="regular">$2,999.00</span>
				</div>
			</div>
		</li>
		<li>
			
			<div class="img-product">
				<a href="#" title="">
					<img src="images/blog/12.jpg" alt="">
				</a>
			</div>
			<div class="info-product">
				<div class="name">
					<a href="#" title="">Apple iPad Mini <br/>G2356</a>
				</div>
				<div class="queue">
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
				</div>
				<div class="price">
					<span class="sale">$90.00</span>
					<span class="regular">$2,999.00</span>
				</div>
			</div>
		</li>	
	</ul>
</div><!-- /.widget widget-products -->