<div class="widget widget-brands">
	<div class="widget-title">
		<h3>Brands<span></span></h3>
	</div>
	<div class="widget-content">
		<form action="#" method="get" accept-charset="utf-8">
			<input type="text" name="brands" placeholder="Brands Search">
		</form>
		<ul class="box-checkbox scroll">
			<li class="check-box">
				<input type="checkbox" id="checkbox1" name="checkbox1">
				<label for="checkbox1">Apple <span>(4)</span></label>
			</li>
			<li class="check-box">
				<input type="checkbox" id="checkbox2" name="checkbox2">
				<label for="checkbox2">Samsung <span>(2)</span></label>
			</li>
			<li class="check-box">
				<input type="checkbox" id="checkbox3" name="checkbox3">
				<label for="checkbox3">HTC <span>(2)</span></label>
			</li>
			<li class="check-box">
				<input type="checkbox" id="checkbox4" name="checkbox4">
				<label for="checkbox4">LG <span>(2)</span></label>
			</li>
			<li class="check-box">
				<input type="checkbox" id="checkbox5" name="checkbox5">
				<label for="checkbox5">Dell <span>(1)</span></label>
			</li>
			<li class="check-box">
				<input type="checkbox" id="checkbox6" name="checkbox6">
				<label for="checkbox6">Sony <span>(3)</span></label>
			</li>
			<li class="check-box">
				<input type="checkbox" id="checkbox7" name="checkbox7">
				<label for="checkbox7">Bphone <span>(4)</span></label>
			</li>
			<li class="check-box">
				<input type="checkbox" id="checkbox8" name="checkbox8">
				<label for="checkbox8">Oppo <span>(4)</span></label>
			</li>
		</ul>
	</div>
</div><!-- /.widget widget-brands -->