<div class="widget widget-categories">
	<div class="widget-title">
		<h3>Categories<span></span></h3>
	</div>
	<ul class="cat-list style1 widget-content">
		<li>
			<span>Accessories<i>(03)</i></span>
			<ul class="cat-child">
				<li>
					<a href="#" title="">TV</a>
				</li>
				<li>
					<a href="#" title="">Monitors</a>
				</li>
				<li>
					<a href="#" title="">Software</a>
				</li>
			</ul>
		</li>
		<li>
			<span>Cameras<i>(19)</i></span>
			<ul class="cat-child">
				<li>
					<a href="#" title="">Go Pro</a>
				</li>
				<li>
					<a href="#" title="">Video</a>
				</li>
				<li>
					<a href="#" title="">Software</a>
				</li>
			</ul>
		</li>
		<li class="">
			<span>Computers<i>(56)</i></span>
			<ul class="cat-child">
				<li>
					<a href="#" title="">Desktop</a>
				</li>
				<li>
					<a href="#" title="">Monitors</a>
				</li>
				<li>
					<a href="#" title="">Software</a>
				</li>
			</ul>
		</li>
		<li>
			<span>Laptops<i>(03)</i></span>
			<ul class="cat-child">
				<li>
					<a href="#" title="">Desktop</a>
				</li>
				<li>
					<a href="#" title="">Monitors</a>
				</li>
				<li>
					<a href="#" title="">Software</a>
				</li>
			</ul>
		</li>
		<li>
			<span>Networking<i>(03)</i></span>
			<ul class="cat-child">
				<li>
					<a href="#" title="">Monitors</a>
				</li>
				<li>
					<a href="#" title="">Software</a>
				</li>
			</ul>
		</li>
		<li>
			<span>Old Products<i>(89)</i></span>
			<ul class="cat-child">
				<li>
					<a href="#" title="">Monitors</a>
				</li>
				<li>
					<a href="#" title="">Software</a>
				</li>
			</ul>
		</li>
		<li>
			<span>Smartphones<i>(90)</i></span>
			<ul class="cat-child">
				<li>
					<a href="#" title="">Apple</a>
				</li>
				<li>
					<a href="#" title="">HTC</a>
				</li>
				<li>
					<a href="#" title="">Sony</a>
				</li>
				<li>
					<a href="#" title="">Samsung</a>
				</li>
				<li>
					<a href="#" title="">LG</a>
				</li>
			</ul>
		</li>
		<li>
			<span>Software<i>(23)</i></span>
			<ul class="cat-child">
				<li>
					<a href="#" title="">Desktop</a>
				</li>
				<li>
					<a href="#" title="">Monitors</a>
				</li>
				<li>
					<a href="#" title="">BKAV</a>
				</li>
			</ul>
		</li>
	</ul><!-- /.cat-list -->
</div><!-- /.widget-categories -->