<div class="widget widget-color">
	<div class="widget-title">
		<h3>Color<span></span></h3>
		<div style="height: 2px"></div>
	</div>
	<div class="widget-content">
		<form action="#" method="get" accept-charset="utf-8">
			<input type="text" name="color" placeholder="Color Search">
		</form>
		<div style="height: 5px"></div>
		<ul class="box-checkbox scroll">
			<li class="check-box">
				<input type="checkbox" id="check1" name="check1">
				<label for="check1">Black <span>(4)</span></label>
			</li>
			<li class="check-box">
				<input type="checkbox" id="check2" name="check2">
				<label for="check2">Yellow <span>(2)</span></label>
			</li>
			<li class="check-box">
				<input type="checkbox" id="check3" name="check3">
				<label for="check3">White <span>(2)</span></label>
			</li>
			<li class="check-box">
				<input type="checkbox" id="check4" name="check4">
				<label for="check4">Blue <span>(2)</span></label>
			</li>
			<li class="check-box">
				<input type="checkbox" id="check5" name="check5">
				<label for="check5">Red <span>(1)</span></label>
			</li>
			<li class="check-box">
				<input type="checkbox" id="check6" name="check6">
				<label for="check6">Pink <span>(3)</span></label>
			</li>
			<li class="check-box">
				<input type="checkbox" id="check7" name="check7">
				<label for="check7">Green <span>(4)</span></label>
			</li>
			<li class="check-box">
				<input type="checkbox" id="check8" name="check8">
				<label for="check8">Gold <span>(4)</span></label>
			</li>
		</ul>
	</div>
</div><!-- /.widget widget-color -->