<div class="widget widget-price">
	<div class="widget-title">
		<h3>价格区间<span></span></h3>
	</div>
	<div class="widget-content">
		<p>价格</p>
		<div class="price search-filter-input">
                <div id="slider-range" class="price-slider ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"><div class="ui-slider-range ui-corner-all ui-widget-header" ></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span></div>
                <p class="amount">
                  <input type="text" id="amount" disabled="">
                  <input type="hidden" id="priceFrom" disabled="">
                  <input type="hidden" id="priceTo" disabled="">
                </p>
           </div>
	</div>
</div>