<div class="wrap-imagebox">
	<div class="flat-row-title">
		<h3>Mobile & Tablet</h3>
		<span>
			Showing 1–15 of 20 results
		</span>
		<div class="clearfix"></div>
	</div>
	<div class="sort-product">
		<ul class="icons">
			<li>
				<img src="${request.contextPath}/images/icons/list-1.png" alt="">
			</li>
			<li>
				<img src="${request.contextPath}/images/icons/list-2.png" alt="">
			</li>
		</ul>
		<div class="sort">
			<div class="popularity">
				<select name="popularity">
					<option value="">Sort by popularity</option>
					<option value="">Sort by popularity</option>
					<option value="">Sort by popularity</option>
					<option value="">Sort by popularity</option>
				</select>
			</div>
			<div class="showed">
				<select name="showed">
					<option value="">Show 15</option>
					<option value="">Show 15</option>
					<option value="">Show 15</option>
					<option value="">Show 15</option>
				</select>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="tab-product">
		<div class="row sort-box">
		
		
			<div class="col-lg-4 col-sm-6">
				<div class="product-box">
					<div class="imagebox">
						<div class="box-image owl-carousel-1">
							<a href="#" title="">
								<img src="images/product/other/06.jpg" alt="">
							</a>
							<a href="#" title="">
								<img src="images/product/other/06.jpg" alt="">
							</a>
						</div><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">Cameras</a>
							</div>
							<div class="product-name">
								<a href="#" title="">New X5C-1 2.4Ghz Gyro <br />RC Quadcopter Drone</a>
							</div>
							<div class="price">
								<span class="sale">$2,009.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div><!-- /.box-content -->
						<div class="box-bottom">
							<div class="btn-add-cart">
								<a href="#" title="">
									<img src="${request.contextPath}/images/icons/add-cart.png" alt="">加入购物车
								</a>
							</div>
							<div class="compare-wishlist">
								<span class="compare">
									<a href="#" title="">
										<img src="${request.contextPath}/images/icons/compare.png" alt="">比较
									</a>
								</span>
								<span class="wishlist">
									<a href="#" title="">
										<img src="${request.contextPath}/images/icons/wishlist.png" alt="">收藏
									</a>
								</span>
							</div>
						</div><!-- /.box-bottom -->
					</div><!-- /.imagebox -->
				</div>
			</div><!-- /.col-lg-4 col-sm-6 -->
			
			
		</div>
		<div class="sort-box">
		
		
			<div class="product-box style3">
				<div class="imagebox style1 v3">
					<div class="box-image">
						<a href="#" title="">
							<img src="images/product/other/s02.jpg" alt="">
						</a>
					</div><!-- /.box-image -->
					<div class="box-content">
						<div class="cat-name">
							<a href="#" title="">Cameras</a>
						</div>
						<div class="product-name">
							<a href="#" title="">Apple iPad Air 2 32GB 9.7"<br />Tablet</a>
						</div>
						<div class="info">
							<p>
								The iPhone 5c replaces the iPhone 5 in the Apple stable, inheriting its internals, like the A6 processor, 4" screen...
							</p>
						</div>
					</div><!-- /.box-content -->
					<div class="box-price">
						<div class="price">
							<span class="regular">$2,999.00</span>
							<span class="sale">$1,999.00</span>
						</div>
						<div class="btn-add-cart">
							<a href="#" title="">
								<img src="images/icons/add-cart.png" alt="">加入购物车
							</a>
						</div>
						<div class="compare-wishlist">
							<a href="#" class="compare" title="">
								<img src="${request.contextPath}/images/icons/compare.png" alt="">比较
							</a>
							<a href="#" class="wishlist" title="">
								<img src="${request.contextPath}/images/icons/wishlist.png" alt="">收藏
							</a>
						</div>
					</div><!-- /.box-price -->
				</div><!-- /.imagebox -->
			</div><!-- /.product-box -->
			
			
			<div style="height: 9px;"></div>
		</div>
	</div>
</div><!-- /.wrap-imagebox -->


<div class="blog-pagination">
	<span>
		Showing 1–15 of 20 results
	</span>
	<ul class="flat-pagination style1">
		<li class="prev">
			<a href="javascript:;" title="">
				<img src="${request.contextPath}/images/icons/left-1.png" alt="">上一页
			</a>
		</li>
		<li>
			<a href="javascript:;" class="waves-effect" title="">01</a>
		</li>
		<li>
			<a href="javascript:;" class="waves-effect" title="">02</a>
		</li>
		<li class="active">
			<a href="javascript:;" class="waves-effect" title="">03</a>
		</li>
		<li>
			<a href="javascript:;" class="waves-effect" title="">04</a>
		</li>
		<li class="next">
			<a href="javascript:;" title="">
				下一页<img src="${request.contextPath}/images/icons/right-1.png" alt="">
			</a>
		</li>
	</ul>
	<div class="clearfix"></div>
</div><!-- /.blog-pagination -->