<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<title>Shop Bar Left</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="${request.contextPath}/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="${request.contextPath}/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="${request.contextPath}/stylesheets/responsive.css">
	<link rel="shortcut icon" href="${request.contextPath}/favicon.ico" /> 
</head>
<body class="header_sticky">
	<div class="boxed">

		<div class="overlay"></div>

		<!-- Preloader -->
		<div class="preloader">
			<div class="clear-loading loading-effect-2">
				<span></span>
			</div>
		</div><!-- /.preloader -->
		
		<!-- 页头 -->
		<%include("/inc_header.html"){}%>
		
		<!-- 面包屑 -->
		<%include("/inc_breadcrumb.html"){}%>

		<main id="shop">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-4">
						<div class="sidebar ">
		
							<!-- 左边栏分类筛选 -->
							<%include("/categories.html"){}%>
						
							<!-- 左边栏价格筛选 -->
							<%include("/price.html"){}%>
						
							<!-- 左边栏商标筛选 -->
							<%include("/brands.html"){}%>
							
							<!-- 左边栏颜色筛选 -->
							<%include("/color.html"){}%>
							
							<!-- 左边栏热卖 -->
							<%include("/best_seller.html"){}%>
							
							<!-- 左边栏广告位 -->
							<%include("/ad_left.html"){}%>
						</div><!-- /.sidebar -->
					</div><!-- /.col-lg-3 col-md-4 -->
					<div class="col-lg-9 col-md-8">
						<div class="main-shop">
							<!-- 页头滚动广告 -->
							<%include("/ad_left.html"){}%>
							
							<!-- 商品列表 -->
							<%include("/products.html"){}%>
						</div><!-- /.main-shop -->
					</div><!-- /.col-lg-9 col-md-8 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</main><!-- /#shop -->

		<!-- 新品推荐 -->
		<%include("/recent_products.html"){}%>

		<!-- 网站信息 -->
		<%include("/inc_footer.html"){}%>
		
		<!-- copyright -->
		<%include("/inc_copyright.html"){}%>

	</div><!-- /.boxed -->

		<!-- Javascript -->
		<script type="text/javascript" src="${request.contextPath}/javascript/jquery.min.js"></script>
		<script type="text/javascript" src="${request.contextPath}/javascript/tether.min.js"></script>
		<script type="text/javascript" src="${request.contextPath}/javascript/bootstrap.min.js"></script>
		<script type="text/javascript" src="${request.contextPath}/javascript/waypoints.min.js"></script>
		<script type="text/javascript" src="${request.contextPath}/javascript/jquery.circlechart.js"></script>
		<script type="text/javascript" src="${request.contextPath}/javascript/easing.js"></script>
		<script type="text/javascript" src="${request.contextPath}/javascript/jquery.flexslider-min.js"></script>
		<script type="text/javascript" src="${request.contextPath}/javascript/owl.carousel.js"></script>
		<script type="text/javascript" src="${request.contextPath}/javascript/smoothscroll.js"></script>
		<script type="text/javascript" src="${request.contextPath}/javascript/jquery-ui.js"></script>
		<script type="text/javascript" src="${request.contextPath}/javascript/jquery.mCustomScrollbar.js"></script>
	   	<script type="text/javascript" src="${request.contextPath}/javascript/waves.min.js"></script>
		<script type="text/javascript" src="${request.contextPath}/javascript/jquery.countdown.js"></script>

		<script type="text/javascript" src="${request.contextPath}/javascript/main.js"></script>

</body>	
</html>
