<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<title>商品检索-ldbz</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="${request.contextPath}/search/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="${request.contextPath}/search/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="${request.contextPath}/search/stylesheets/responsive.css">
	<link rel="stylesheet" type="text/css" href="${request.contextPath}/search/pagination/pagination.css">
	<link rel="shortcut icon" href="${request.contextPath}/search/favicon.ico" />
	<script type="text/javascript" src="${request.contextPath}/search/javascript/jquery.min.js"></script>
</head>
<body class="header_sticky">
	<div class="boxed">

		<div class="overlay"></div>

		<!-- Preloader -->
		<div class="preloader">
			<div class="clear-loading loading-effect-2">
				<span></span>
			</div>
		</div><!-- /.preloader -->
		
		<!-- 页头 -->
		<%include("/inc_header.html"){}%>
		
		<!-- 面包屑 -->
		<%include("/inc_breadcrumb.html"){}%>

		<main id="shop">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-4">
						<div class="sidebar ">
		
							<!-- 左边栏分类筛选 -->
							<%include("/categories.html"){}%>
						
							<!-- 左边栏价格筛选 -->
							<%include("/price.html"){}%>
						
							<!-- 左边栏热卖 -->
							<%include("/best_seller.html"){}%>
							
							<!-- 左边栏广告位 -->
							<%include("/ad_left.html"){}%>
						</div><!-- /.sidebar -->
					</div><!-- /.col-lg-3 col-md-4 -->
					<div class="col-lg-9 col-md-8">
						<div class="main-shop">
							<!-- 页头滚动广告 -->
							<%include("/ad_top.html"){}%>
							
							<!-- 商品列表 -->
							<%include("/products.html"){}%>
						</div><!-- /.main-shop -->
					</div><!-- /.col-lg-9 col-md-8 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</main><!-- /#shop -->

		<!-- 新品推荐 -->
		<%include("/inc_recommend.html"){}%>

		<!-- 网站信息 -->
		<%include("/inc_footer.html"){}%>
		
		<!-- copyright -->
		<%include("/inc_copyright.html"){}%>

	</div><!-- /.boxed -->

		<!-- Javascript -->
		<script type="text/javascript" src="${request.contextPath}/search/javascript/tether.min.js"></script>
		<script type="text/javascript" src="${request.contextPath}/search/javascript/bootstrap.min.js"></script>
		<script type="text/javascript" src="${request.contextPath}/search/javascript/jquery.flexslider-min.js"></script>
		<script type="text/javascript" src="${request.contextPath}/search/javascript/owl.carousel.js"></script>
		<script type="text/javascript" src="${request.contextPath}/search/javascript/jquery-ui.js"></script>
		<script type="text/javascript" src="${request.contextPath}/search/pagination/jquery.pagination.js"></script>
		<script type="text/javascript" src="${request.contextPath}/search/javascript/template.js"></script>

		<script type="text/javascript" src="${request.contextPath}/search/javascript/main.js"></script>
		
		<link rel="stylesheet" type="text/css" href="${request.contextPath}/search/alert/css/alert.css" />
		<script type="text/javascript" src="${request.contextPath}/search/alert/js/alert.min.js"></script>
		<script type="text/javascript" src="${request.contextPath}/search/javascript/base64.js"></script>
		
		<script type="text/javascript">
			var nginxImage = "${nginxImage}" ;
			$(function(){
				//初始化页头检索框
				$("#input_serch").val("${parameter.search}");
				if('${parameter.category}'){
					var option_text = $(".cat-list-search div[cid='${parameter.category}']").html();
					$("#select_category").empty().append("<option value='${parameter.category}'>" + option_text + "</option>");
				}else{
					var div = $("#form_global_search .cat-list-search").find("div")[0] ;
					location.href = "${request.contextPath}/search?category=" + $(div).attr("cid") ;
				}
			});
		</script>

</body>	
</html>
