<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<title>我的订单-ldbz-shop</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="${request.contextPath}/order/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="${request.contextPath}/order/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="${request.contextPath}/order/stylesheets/responsive.css">
	<link rel="shortcut icon" href="${request.contextPath}/order/favicon.ico" />
	<script type="text/javascript" src="${request.contextPath}/order/javascript/jquery.min.js"></script>
</head>
<body class="header_sticky">
	<div class="boxed">

		<div class="overlay"></div>

		<!-- Preloader -->
		<div class="preloader">
			<div class="clear-loading loading-effect-2">
				<span></span>
			</div>
		</div><!-- /.preloader -->

		<!-- 页头 -->
		<%include("/inc_header.html"){}%>

		<!-- 面包屑 -->
		<%include("/inc_breadcrumb.html"){}%>

		<!-- 面包屑 -->
		<%include("/order_list.html"){}%>

		<!-- 网站信息 -->
		<%include("/order_desc.html"){}%>
		
		<!-- 网站信息 -->
		<%include("/inc_footer.html"){}%>
		
		<!-- copyright -->
		<%include("/inc_copyright.html"){}%>

	</div><!-- /.boxed -->

		<!-- Javascript -->
		<script type="text/javascript" src="${request.contextPath}/order/javascript/tether.min.js"></script>
		<script type="text/javascript" src="${request.contextPath}/order/javascript/bootstrap.min.js"></script>
		<script type="text/javascript" src="${request.contextPath}/order/javascript/jquery.mCustomScrollbar.js"></script>
		<script type="text/javascript" src="${request.contextPath}/order/javascript/base64.js"></script>
		<script type="text/javascript" src="${request.contextPath}/order/javascript/template.js"></script>

		<script type="text/javascript" src="${request.contextPath}/order/javascript/main.js"></script>
		
		<link rel="stylesheet" href="${request.contextPath}/order/alert/css/alert.css">
		<script src='${request.contextPath}/order/alert/js/alert.js'></script>
		
		<script type="text/javascript">
			var nginxImage = "${nginxImage}" ;
		</script>
</body>	
</html>
