<section class="footer-bottom">
  		<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p class="copyright">Copyright &copy; 2018.Company name All rights reserved.<a target="_blank" href="http://laodaobazi.iteye.com">老刀把子</a></p>
						<p class="btn-scroll">
							<a href="javascript:;" title="">
								<img src="${request.contextPath}/cart/images/icons/top.png" alt="">
							</a>
						</p>
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
</section>