<section class="flat-row flat-iconbox style3">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="iconbox style1">
					<div class="box-header">
						<div class="image">
							<img src="images/icons/car.png" alt="">
						</div>
						<div class="box-title">
							<h3>Worldwide Shipping</h3>
						</div>
						<div class="clearfix"></div>
					</div><!-- /.box-header -->
				</div><!-- /.iconbox -->
			</div><!-- /.col-lg-3 col-md-6 -->
			<div class="col-lg-3 col-md-6">
				<div class="iconbox style1">
					<div class="box-header">
						<div class="image">
							<img src="images/icons/order.png" alt="">
						</div>
						<div class="box-title">
							<h3>Order Online Service</h3>
						</div>
						<div class="clearfix"></div>
					</div><!-- /.box-header -->
				</div><!-- /.iconbox -->
			</div><!-- /.col-lg-3 col-md-6 -->
			<div class="col-lg-3 col-md-6">
				<div class="iconbox style1">
					<div class="box-header">
						<div class="image">
							<img src="images/icons/payment.png" alt="">
						</div>
						<div class="box-title">
							<h3>Payment</h3>
						</div>
						<div class="clearfix"></div>
					</div><!-- /.box-header -->
				</div><!-- /.iconbox -->
			</div><!-- /.col-lg-3 col-md-6 -->
			<div class="col-lg-3 col-md-6">
				<div class="iconbox style1">
					<div class="box-header">
						<div class="image">
							<img src="images/icons/return.png" alt="">
						</div>
						<div class="box-title">
							<h3>Return 30 Days</h3>
						</div>
						<div class="clearfix"></div>
					</div><!-- /.box-header -->
				</div><!-- /.iconbox -->
			</div><!-- /.col-lg-3 col-md-6 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.flat-iconbox -->