<section class="flat-row flat-iconbox style3">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="iconbox style1">
					<div class="box-header">
						<div class="image">
							<img src="${request.contextPath}/cart/images/icons/car.png" alt="">
						</div>
						<div class="box-title">
							<h3>全球购</h3>
						</div>
						<div class="clearfix"></div>
					</div><!-- /.box-header -->
				</div><!-- /.iconbox -->
			</div><!-- /.col-lg-3 col-md-6 -->
			<div class="col-lg-3 col-md-6">
				<div class="iconbox style1">
					<div class="box-header">
						<div class="image">
							<img src="${request.contextPath}/cart/images/icons/order.png" alt="">
						</div>
						<div class="box-title">
							<h3>在线服务</h3>
						</div>
						<div class="clearfix"></div>
					</div><!-- /.box-header -->
				</div><!-- /.iconbox -->
			</div><!-- /.col-lg-3 col-md-6 -->
			<div class="col-lg-3 col-md-6">
				<div class="iconbox style1">
					<div class="box-header">
						<div class="image">
							<img src="${request.contextPath}/cart/images/icons/payment.png" alt="">
						</div>
						<div class="box-title">
							<h3>网上支付</h3>
						</div>
						<div class="clearfix"></div>
					</div><!-- /.box-header -->
				</div><!-- /.iconbox -->
			</div><!-- /.col-lg-3 col-md-6 -->
			<div class="col-lg-3 col-md-6">
				<div class="iconbox style1">
					<div class="box-header">
						<div class="image">
							<img src="${request.contextPath}/cart/images/icons/return.png" alt="">
						</div>
						<div class="box-title">
							<h3>7天退货</h3>
						</div>
						<div class="clearfix"></div>
					</div><!-- /.box-header -->
				</div><!-- /.iconbox -->
			</div><!-- /.col-lg-3 col-md-6 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.flat-iconbox -->