<section class="flat-wishlist">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="wishlist">
					<div class="title">
						<h3>我的订单</h3>
					</div>
					<div class="wishlist-content">
						<table class="table-wishlist">
							<thead>
								<tr>
									<th>商品名称</th>
									<th>单价</th>
									<th>Stock Status</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="delete">
											<a href="#" title=""><img src="images/icons/delete.png" alt=""></a>
										</div>
										<div class="product">
											<div class="image">
												<img src="images/product/other/01.jpg" alt="">
											</div>
											<div class="name">
												Tablet Red Elite Book <br />Revolve 810 G2
											</div>
										</div>
									</td>
									<td>
										<div class="price">
											$6,250.00
										</div>
									</td>
									<td>
										<div class="status-product">
											<span>In stock</span>
										</div>
									</td>
									<td>
										<div class="add-cart">
											<a href="#" title="">
												<img src="images/icons/add-cart.png" alt="">Add to Cart
											</a>
										</div>
									</td>
								</tr>
							</tbody>
						</table><!-- /.table-wishlist -->
					</div><!-- /.wishlist-content -->
				</div><!-- /.wishlist -->
			</div><!-- /.col-md-12 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.flat-wishlish -->