<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ldbz.mapper.LdbzWishlistMapper" >

  <resultMap id="BaseResultMap" type="cn.ldbz.pojo.LdbzWishlist" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sort_order" property="sortOrder" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="creator_name" property="creatorName" jdbcType="VARCHAR" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
    <result column="updator_name" property="updatorName" jdbcType="VARCHAR" />
    
    <result column="item_code" property="itemCode" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="image" property="image" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id , created , creator , creator_name, updated , updator, updator_name , user_id , item_code , num , status , image
  </sql>
  
  <select id="selectByEntity" resultMap="BaseResultMap"  parameterType="cn.ldbz.pojo.LdbzWishlist">
    select
    <include refid="Base_Column_List" />
    from ldbz_wishlist w join ldbz_item i on u.item_code = i.item_code
    where user_id = #{entity.userId}
    and 
    order by created desc
    limit #{start} , #{limit}
  </select>
  
  <select id="countByEntity" parameterType="cn.ldbz.pojo.LdbzWishlist" resultType="java.lang.Long" >
    select count(*) from ldbz_wishlist
    where user_id = #{userId}
  </select>
  
  <delete id="deleteByKey" parameterType="java.lang.Long" >
    delete from ldbz_wishlist
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <delete id="deleteByKeys" parameterType="java.util.List" >
    delete from ldbz_wishlist
    where id in
    <foreach collection="list" item="id" open="(" close=")" separator="," >
      #{id}
    </foreach>
  </delete>
  
  <insert id="insertByEntity" parameterType="cn.ldbz.pojo.LdbzWishlist" >
    insert into ldbz_wishlist ( id , created , creator , creator_name, item_code , user_id )
    values (#{id,jdbcType=BIGINT}, #{created,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR} , 
    	#{creatorName,jdbcType=VARCHAR}, #{itemCode,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT} )
  </insert>
  
</mapper>