<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ldbz.mapper.LdbzIndexSlideAdMapper" >

  <resultMap id="BaseResultMap" type="cn.ldbz.pojo.LdbzIndexSlideAd" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="alt" property="alt" jdbcType="VARCHAR" />
    <result column="href" property="href" jdbcType="VARCHAR" />
    <result column="src" property="src" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="sort_order" property="sortOrder" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="creator_name" property="creatorName" jdbcType="VARCHAR" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
    <result column="updator_name" property="updatorName" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, alt, href, src, status, sort_order, created , creator , creator_name, updated , updator, updator_name
  </sql>
  
  <select id="selectByEntity" resultMap="BaseResultMap" parameterType="cn.ldbz.pojo.LdbzIndexSlideAd" >
    select
    <include refid="Base_Column_List" />
    from ldbz_index_slide_ad
    order by sort_order , updated desc
    limit #{start} , #{limit}
  </select>
  
  <select id="selectByKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ldbz_index_slide_ad
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByKey" parameterType="java.lang.Long" >
    delete from ldbz_index_slide_ad
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <delete id="deleteByKeys" parameterType="java.util.List" >
    delete from ldbz_index_slide_ad
    where id in
    <foreach collection="list" item="id" open="(" close=")" separator="," >
      #{id}
    </foreach>
  </delete>
  
  <delete id="deleteByEntity" parameterType="cn.ldbz.pojo.LdbzIndexSlideAd" >
    delete from ldbz_index_slide_ad
    
  </delete>
  
  <insert id="insertByEntity" parameterType="cn.ldbz.pojo.LdbzIndexSlideAd" >
    insert into ldbz_index_slide_ad (id, alt, href, src, status, sort_order, created, creator, creator_name, updated, updator, updator_name)
    values (#{id,jdbcType=BIGINT}, #{alt,jdbcType=VARCHAR}, #{href,jdbcType=VARCHAR}, 
    	#{src,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{sortOrder,jdbcType=INTEGER}, 
        #{created,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR} , #{creatorName,jdbcType=VARCHAR},
        #{updated,jdbcType=TIMESTAMP}, #{updator,jdbcType=VARCHAR} , #{updatorName,jdbcType=VARCHAR}
      )
  </insert>
  
  <insert id="insertBySelective" parameterType="cn.ldbz.pojo.LdbzIndexSlideAd" >
    insert into ldbz_index_slide_ad
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="alt != null" >
        alt,
      </if>
      <if test="href != null" >
        href,
      </if>
      <if test="src != null" >
        src,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="sortOrder != null" >
        sort_order,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="creator != null" >
        creator
      </if>
      <if test="creatorName != null" >
        creator_name
      </if>
      <if test="updated != null" >
        updated,
      </if>
      <if test="updator != null" >
        updator
      </if>
      <if test="updatorName != null" >
        updator_name
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="alt != null" >
        #{alt,jdbcType=VARCHAR},
      </if>
      <if test="href != null" >
        #{href,jdbcType=VARCHAR},
      </if>
      <if test="src != null" >
        #{src,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="sortOrder != null" >
        #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null" >
        #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null" >
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="updatorName != null" >
        #{updatorName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <select id="countByEntity" parameterType="cn.ldbz.pojo.LdbzIndexSlideAd" resultType="java.lang.Long" >
    select count(*) from ldbz_index_slide_ad
    
  </select>
  
  <update id="updateBySelective" parameterType="cn.ldbz.pojo.LdbzIndexSlideAd" >
    update ldbz_index_slide_ad
    <set>
      <if test="id != null" >
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="alt != null" >
        alt = #{alt,jdbcType=VARCHAR},
      </if>
      <if test="href != null" >
        href = #{href,jdbcType=VARCHAR},
      </if>
      <if test="src != null" >
        src = #{src,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="sortOrder != null" >
        sort_order = #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null" >
        creator_name = #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="updated != null" >
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null" >
        updator = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="updatorName != null" >
        updator_name = #{updatorName,jdbcType=VARCHAR},
      </if>
    </set>
    
  </update>
  
  <update id="updateByEntity" parameterType="cn.ldbz.pojo.LdbzIndexSlideAd" >
    update ldbz_index_slide_ad
    set id = #{id,jdbcType=BIGINT},
      alt = #{alt,jdbcType=VARCHAR},
      href = #{href,jdbcType=VARCHAR},
      src = #{src,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      sort_order = #{sortOrder,jdbcType=INTEGER},
      created = #{created,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR} ,
      creator_name = #{creatorName,jdbcType=VARCHAR} ,
      updated = #{updated,jdbcType=TIMESTAMP},
      updator = #{updator,jdbcType=VARCHAR} ,
      updator_name = #{updatorName,jdbcType=VARCHAR} 
      
  </update>
  
  <update id="updateByKeySelective" parameterType="cn.ldbz.pojo.LdbzIndexSlideAd" >
    update ldbz_index_slide_ad
    <set >
      <if test="alt != null" >
        alt = #{alt,jdbcType=VARCHAR},
      </if>
      <if test="href != null" >
        href = #{href,jdbcType=VARCHAR},
      </if>
      <if test="src != null" >
        src = #{src,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="sortOrder != null" >
        sort_order = #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null" >
        creator_name = #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="updated != null" >
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        updator = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null" >
        updator_name = #{updatorName,jdbcType=VARCHAR}
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="updateByKey" parameterType="cn.ldbz.pojo.LdbzIndexSlideAd" >
    update ldbz_index_slide_ad
    set alt = #{alt,jdbcType=VARCHAR},
      href = #{href,jdbcType=VARCHAR},
      src = #{src,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      sort_order = #{sortOrder,jdbcType=INTEGER},
      created = #{created,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR}, 
      creator_name = #{creatorName,jdbcType=VARCHAR},
      updated = #{updated,jdbcType=TIMESTAMP},
      updator = #{updator,jdbcType=VARCHAR},
      updator_name = #{updatorName,jdbcType=VARCHAR}
    where 
      id = #{id,jdbcType=BIGINT}
  </update>
  
</mapper>