<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ldbz.mapper.LdbzOrderItemMapper" >

  <resultMap id="BaseResultMap" type="cn.ldbz.pojo.LdbzOrderItem" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="FLOAT" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="order_code" property="orderCode" jdbcType="BIGINT" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, title, price, image, num, order_code
  </sql>
  
  
  
</mapper>